# CSC 481 Project 

Ayan Patel, Robert Hensley

* [Gowalla Dataset](https://snap.stanford.edu/data/loc-gowalla.html)



---

In [2]:
# !pip install snap-stanford
!pip install python-igraph

Collecting python-igraph
  Downloading python_igraph-0.8.2-cp37-cp37m-win_amd64.whl (1.3 MB)
Collecting texttable>=1.6.2
  Downloading texttable-1.6.2-py2.py3-none-any.whl (10 kB)
Installing collected packages: texttable, python-igraph
Successfully installed python-igraph-0.8.2 texttable-1.6.2

In [1]:
# import snap ???
import igraph
from igraph import *

import pandas as pd

import time
from datetime import datetime

import geopy
from geopy.geocoders import Nominatim

## Loading Data

* this can takes 3 - 5 minutes to fully load all dataframes

In [2]:
data_path = 'data/'

# creating dataframes
edges = pd.read_csv(data_path + 'Gowalla_edges.txt', sep='\t', names=['u1', 'u2'])
totalCheckins = pd.read_csv(data_path + 'Gowalla_totalCheckins.txt', sep='\t',
                            names=['user', 'time', 'lat', 'long', 'locid'])

totalCheckins['time'] = totalCheckins['time'].map(lambda x: datetime.strptime(x, "%Y-%m-%dT%H:%M:%SZ"))

In [3]:
totalCheckins

           user                time        lat       long    locid
0             0 2010-10-19 23:55:27  30.235909 -97.795140    22847
1             0 2010-10-18 22:17:43  30.269103 -97.749395   420315
2             0 2010-10-17 23:42:03  30.255731 -97.763386   316637
3             0 2010-10-17 19:26:05  30.263418 -97.757597    16516
4             0 2010-10-16 18:50:42  30.274292 -97.740523  5535878
...         ...                 ...        ...        ...      ...
6442887  196578 2010-06-11 13:32:26  51.742988  -0.488065   906885
6442888  196578 2010-06-11 13:26:45  51.746492  -0.490780   965121
6442889  196578 2010-06-11 13:26:34  51.741916  -0.496729  1174322
6442890  196585 2010-10-08 21:01:49  50.105516   8.571525   471724
6442891  196585 2010-10-07 17:39:18  50.027812   8.785098  4555073

[6442892 rows x 5 columns]

In [0]:
edges

             u1      u2
0             0       1
1             0       2
2             0       3
3             0       4
4             0       5
...         ...     ...
1900649  196586  196539
1900650  196587  196540
1900651  196588  196540
1900652  196589  196547
1900653  196590  196561

[1900654 rows x 2 columns]

### User Notes

* userCheckins appears to cover only 1245 users
  * this makes me wonder if the userIDs match the edges userIDs (most likely not)
  * therefore it might be better to create our own graphs based off the checkin data and ignore the edges data
    * this means we cannot make the assumptions that two users are friends 
    * we should test to see if our predicted meetups (same location at around the same time) match the meetups in the edges file
  * also notice that user ID's appear to range from 0 - 1440, but there are only 1245 rows, implying some missing users


* we can get an idea of where the users are generally located by gather the mean of their latitude on longitudinal locations
* other user attributes to collect:
  * earliest time checked in
  * latest time checked in 
    * this shows the general timespan the user has been on the app

In [0]:
totalCheckins['user'].max()

196585

In [4]:
users = totalCheckins.groupby('user').mean()[['lat', 'long']]
users

              lat        long
user
0       33.558308  -97.894601
1       47.204338    4.499703
2       35.659617 -120.016716
4       36.800202 -124.714027
5       32.290069  -96.123008
...           ...         ...
196544 -25.433409  -49.281533
196561  37.528650 -122.004623
196577  51.514905   -0.081277
196578  51.744557   -0.478051
196585  50.066664    8.678312

[107092 rows x 2 columns]

* look at how many checkins the average user makes
  * this seems almost too big?
  * I assume this is a collection of users classified as very active on Gowalla

In [0]:
# average amounts of visits per user
totalCheckins.shape[0] / users.shape[0]

338.13253012048193

### Place Notes

* same grouping process as users
* for the scope of this project, we might want to only focus on places with like 5 or more visits

In [5]:
places = totalCheckins.groupby('locid').agg(['mean', 'count'])[['lat', 'long']]

places.columns = ['lat_mean', 'count_drop', 'long_mean', 'visits']
places = places.drop(columns = ['count_drop'])

In [7]:
places.sort_values('visits')

          lat_mean   long_mean  visits
locid
5977757  13.447479  101.019928       1
951900   50.718459   -1.877455       1
951901   41.543670  -83.582070       1
3733285  50.084312   18.212821       1
3733273  33.621132 -112.185371       1
...            ...         ...     ...
58725    59.650051   17.932262    3476
10259    32.897462  -97.040348    4083
9410     30.201557  -97.667127    4713
19542    37.616356 -122.386150    5662
55033    59.330158   18.058079    5811

[1280969 rows x 3 columns]

          lat_mean   long_mean  visits
locid
8904     39.052318  -94.607499      12
8932     32.927662  -97.254356      16
8936     39.053318  -94.591995      12
8938     39.052824  -94.590311     130
8947     37.331880 -122.029631     570
...            ...         ...     ...
5912882  30.269072  -97.749409       3
5914456  58.449462   14.893234       2
5927439  41.229163    1.773204       2
5928544  48.147636   11.552088       2
5930620  40.687050  -73.991299       2

[782917 rows x 3 columns]

#### Geolocation Data (geopy)

* our queries use the [Nominatim API](https://nominatim.org/release-docs/develop/api/Overview/) by default

Let's try to find the country all this data is from. We will query location information using [geopy](https://geopy.readthedocs.io/en/stable/). Below is a sample query.

In [72]:
from geopy.geocoders import Nominatim

geolocator = Nominatim()

location = geolocator.reverse("39.052318, -94.607499")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.22.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
location.raw

{'place_id': 251278814,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 552493654,
 'lat': '39.052405',
 'lon': '-94.607436',
 'display_name': '4154, State Line Road, Country Club Plaza, Kansas City, Wyandotte County, Missouri, 66103, United States of America',
 'address': {'house_number': '4154',
  'road': 'State Line Road',
  'suburb': 'Country Club Plaza',
  'city': 'Kansas City',
  'county': 'Wyandotte County',
  'state': 'Missouri',
  'postcode': '66103',
  'country': 'United States of America',
  'country_code': 'us'},
 'boundingbox': ['39.052355', '39.052455', '-94.607486', '-94.607386']}

In [16]:
location.raw['address']['country']

'United States of America'

This gives the following important data:
* name 'address > tourism'
* city 'address > city'
* country 'address > country'

However this data lacks:
* context of the location (is it a pub, park, etc.)
    * we can get this information by querying OpenStreetMap using it's place_id, 

Given the limited time for this project, I feel like city and country information should be informative enough.

**Naming Conventions**

* subregions vary between different countries 
    * i.e. states and counties are not found in Germany, boroughs are found in Germany but not the US
    * this means the easiest thing to analyze right now are places < cities < countries
    * this problem can be resolved by focusing on one Country at a time
* the above problem unfortunately also occurs for city names
    * citities can also be called "towns, villages, municipalities, etc.)

In [20]:
location.raw

place = {"osm_place_id"}

{'place_id': 251278814,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 552493654,
 'lat': '39.052405',
 'lon': '-94.607436',
 'display_name': '4154, State Line Road, Country Club Plaza, Kansas City, Wyandotte County, Missouri, 66103, United States of America',
 'address': {'house_number': '4154',
  'road': 'State Line Road',
  'suburb': 'Country Club Plaza',
  'city': 'Kansas City',
  'county': 'Wyandotte County',
  'state': 'Missouri',
  'postcode': '66103',
  'country': 'United States of America',
  'country_code': 'us'},
 'boundingbox': ['39.052355', '39.052455', '-94.607486', '-94.607386']}

In [88]:
places

          lat_mean   long_mean  visits
locid
8904     39.052318  -94.607499      12
8932     32.927662  -97.254356      16
8936     39.053318  -94.591995      12
8938     39.052824  -94.590311     130
8947     37.331880 -122.029631     570
...            ...         ...     ...
5975123  38.020788   -7.874773       1
5976149  12.939186  100.882264       1
5976173  13.668828  100.644486       1
5977211   4.888548  114.838631       1
5977757  13.447479  101.019928       1

[1280969 rows x 3 columns]

In [103]:
location = geolocator.reverse("39.052318, -94.607499")

In [105]:
location.raw

{'place_id': 251278814,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 552493654,
 'lat': '39.052405',
 'lon': '-94.607436',
 'display_name': '4154, State Line Road, Country Club Plaza, Kansas City, Wyandotte County, Missouri, 66103, United States of America',
 'address': {'house_number': '4154',
  'road': 'State Line Road',
  'suburb': 'Country Club Plaza',
  'city': 'Kansas City',
  'county': 'Wyandotte County',
  'state': 'Missouri',
  'postcode': '66103',
  'country': 'United States of America',
  'country_code': 'us'},
 'boundingbox': ['39.052355', '39.052455', '-94.607486', '-94.607386']}

In [21]:
from geopy.geocoders import Nominatim

geolocator = Nominatim()

sorted_places = places.sort_values('visits', ascending=False).reset_index()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.22.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

In [22]:
sorted_places

           locid   lat_mean   long_mean  visits
0          55033  59.330158   18.058079    5811
1          19542  37.616356 -122.386150    5662
2           9410  30.201557  -97.667127    4713
3          10259  32.897462  -97.040348    4083
4          58725  59.650051   17.932262    3476
...          ...        ...         ...     ...
1280964  1071645   8.038478   98.815826       1
1280965  1071647  42.553000  -83.175745       1
1280966  1071650  34.614540  -92.498446       1
1280967  1071652  29.756889  -95.365663       1
1280968  5977757  13.447479  101.019928       1

[1280969 rows x 4 columns]

In [28]:
1 % 1000

1

In [38]:
import json

location_json = {}
location_json['places'] = []

# choose place to start writing files
index = 0

places_temp = sorted_places[index:]

for locid, row in places_temp.iterrows():
    
    location = geolocator.reverse(str(row["lat_mean"]) + ", " + str(row["long_mean"])).raw
    
    location_json['places'].append({'locid' : locid, 'osm_json' : location})
    
    index += 1
    
    if index % 10 == 0 and index != 0:
        
        print(str(index) + ' index JSON written')
        
        with open('data/json/' + str(index) + '.txt', 'w') as outfile:
            json.dump(location_json, outfile)

KeyboardInterrupt:

In [120]:
location_json

[{'locid': 8904,
  'osm_json': {'place_id': 251278814,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 552493654,
   'lat': '39.052405',
   'lon': '-94.607436',
   'display_name': '4154, State Line Road, Country Club Plaza, Kansas City, Wyandotte County, Missouri, 66103, United States of America',
   'address': {'house_number': '4154',
    'road': 'State Line Road',
    'suburb': 'Country Club Plaza',
    'city': 'Kansas City',
    'county': 'Wyandotte County',
    'state': 'Missouri',
    'postcode': '66103',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['39.052355', '39.052455', '-94.607486', '-94.607386']}},
 {'locid': 8932,
  'osm_json': {'place_id': 285607341,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 691729194,
   'lat': '32.9271785',
   'lon': '-97.25485473014332',
   'display_name': 'Spring Creek BBQ, South Main Street, Keller, Tarrant County, Texas, 76248, United States of America',
   'address': {'amenity': 'Spring Creek BBQ',
    'road': 'South Main Street',
    'town': 'Keller',
    'county': 'Tarrant County',
    'state': 'Texas',
    'postcode': '76248',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['32.9270233', '32.9273173', '-97.2550241', '-97.2546851']}},
 {'locid': 8936,
  'osm_json': {'place_id': 151209907,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 265728423,
   'lat': '39.0530537',
   'lon': '-94.59230286803603',
   'display_name': '4050, Pennsylvania Avenue, Westport, Kansas City, Jackson County, Missouri, 64111, United States of America',
   'address': {'house_number': '4050',
    'road': 'Pennsylvania Avenue',
    'neighbourhood': 'Westport',
    'suburb': 'Westport',
    'city': 'Kansas City',
    'county': 'Jackson County',
    'state': 'Missouri',
    'postcode': '64111',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['39.0528359', '39.0534087', '-94.5926293', '-94.5918839']}},
 {'locid': 8938,
  'osm_json': {'place_id': 60993458,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'node',
   'osm_id': 4989083145,
   'lat': '39.0528707',
   'lon': '-94.5904806',
   'display_name': 'Broadway Cafe, Broadway Boulevard, Westport, Kansas City, Jackson County, Missouri, 64111, United States of America',
   'address': {'amenity': 'Broadway Cafe',
    'road': 'Broadway Boulevard',
    'neighbourhood': 'Westport',
    'suburb': 'Westport',
    'city': 'Kansas City',
    'county': 'Jackson County',
    'state': 'Missouri',
    'postcode': '64111',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['39.0528207', '39.0529207', '-94.5905306', '-94.5904306']}},
 {'locid': 8947,
  'osm_json': {'place_id': 276755729,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 114054829,
   'lat': '37.3316697',
   'lon': '-122.03009820215502',
   'display_name': 'Infinite Loop 1, 1, Infinite Loop, Apple Campus, Monta Vista, Cupertino, Santa Clara County, California, 95014, United States of America',
   'address': {'office': 'Infinite Loop 1',
    'house_number': '1',
    'road': 'Infinite Loop',
    'commercial': 'Apple Campus',
    'hamlet': 'Monta Vista',
    'city': 'Cupertino',
    'county': 'Santa Clara County',
    'state': 'California',
    'postcode': '95014',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['37.3311957',
    '37.3321649',
    '-122.0305543',
    '-122.0298245']}},
 {'locid': 8954,
  'osm_json': {'place_id': 276654119,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'node',
   'osm_id': 7202281677,
   'lat': '32.9396206',
   'lon': '-97.1059919',
   'display_name': 'Old Navy, Gateway Drive, Gateway Plaza, Old Union, Southlake, Tarrant County, Texas, 76051, United States of America',
   'address': {'shop': 'Old Navy',
    'road': 'Gateway Drive',
    'retail': 'Gateway Plaza',
    'hamlet': 'Old Union',
    'town': 'Southlake',
    'county': 'Tarrant County',
    'state': 'Texas',
    'postcode': '76051',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['32.9395706', '32.9396706', '-97.1060419', '-97.1059419']}},
 {'locid': 8956,
  'osm_json': {'place_id': 154482607,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 280272008,
   'lat': '32.94290205',
   'lon': '-97.13121775135218',
   'display_name': 'Southlake City Hall, 1400, Main Street, Southlake Town Square, Old Union, Southlake, Tarrant County, Texas, 76092, United States of America',
   'address': {'amenity': 'Southlake City Hall',
    'house_number': '1400',
    'road': 'Main Street',
    'retail': 'Southlake Town Square',
    'hamlet': 'Old Union',
    'town': 'Southlake',
    'county': 'Tarrant County',
    'state': 'Texas',
    'postcode': '76092',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['32.9426965', '32.9430897', '-97.1315421', '-97.1308934']}},
 {'locid': 8957,
  'osm_json': {'place_id': 154482607,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 280272008,
   'lat': '32.94290205',
   'lon': '-97.13121775135218',
   'display_name': 'Southlake City Hall, 1400, Main Street, Southlake Town Square, Old Union, Southlake, Tarrant County, Texas, 76092, United States of America',
   'address': {'amenity': 'Southlake City Hall',
    'house_number': '1400',
    'road': 'Main Street',
    'retail': 'Southlake Town Square',
    'hamlet': 'Old Union',
    'town': 'Southlake',
    'county': 'Tarrant County',
    'state': 'Texas',
    'postcode': '76092',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['32.9426965', '32.9430897', '-97.1315421', '-97.1308934']}},
 {'locid': 8958,
  'osm_json': {'place_id': 284644212,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 670750414,
   'lat': '32.882603399999994',
   'lon': '-97.26001295937829',
   'display_name': 'Chipotle, Denton Highway, Watauga, Tarrant County, Texas, 76148, United States of America',
   'address': {'amenity': 'Chipotle',
    'road': 'Denton Highway',
    'city': 'Watauga',
    'county': 'Tarrant County',
    'state': 'Texas',
    'postcode': '76148',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['32.882438', '32.8827677', '-97.2601682', '-97.2598578']}},
 {'locid': 8961,
  'osm_json': {'place_id': 163046719,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 325259809,
   'lat': '32.94009615',
   'lon': '-97.11569691712424',
   'display_name': 'Chick-fil-A, 2301, East Southlake Boulevard, Park Village, Old Union, Southlake, Tarrant County, Texas, 76092, United States of America',
   'address': {'amenity': 'Chick-fil-A',
    'house_number': '2301',
    'road': 'East Southlake Boulevard',
    'retail': 'Park Village',
    'hamlet': 'Old Union',
    'town': 'Southlake',
    'county': 'Tarrant County',
    'state': 'Texas',
    'postcode': '76092',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['32.9398843', '32.9402553', '-97.1157881', '-97.1156054']}},
 {'locid': 8964,
  'osm_json': {'place_id': 196447190,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 504479544,
   'lat': '39.041867100000005',
   'lon': '-94.5921720791338',
   'display_name': 'Country Club Plaza, Sister Cities Bridge, South Plaza, Country Club Plaza, Kansas City, Jackson County, Missouri, 64112, United States of America',
   'address': {'shop': 'Country Club Plaza',
    'road': 'Sister Cities Bridge',
    'neighbourhood': 'South Plaza',
    'suburb': 'Country Club Plaza',
    'city': 'Kansas City',
    'county': 'Jackson County',
    'state': 'Missouri',
    'postcode': '64112',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['39.0399906', '39.0433447', '-94.5962236', '-94.5881528']}},
 {'locid': 8965,
  'osm_json': {'place_id': 196447190,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'way',
   'osm_id': 504479544,
   'lat': '39.041867100000005',
   'lon': '-94.5921720791338',
   'display_name': 'Country Club Plaza, Sister Cities Bridge, South Plaza, Country Club Plaza, Kansas City, Jackson County, Missouri, 64112, United States of America',
   'address': {'shop': 'Country Club Plaza',
    'road': 'Sister Cities Bridge',
    'neighbourhood': 'South Plaza',
    'suburb': 'Country Club Plaza',
    'city': 'Kansas City',
    'county': 'Jackson County',
    'state': 'Missouri',
    'postcode': '64112',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['39.0399906', '39.0433447', '-94.5962236', '-94.5881528']}},
 {'locid': 8966,
  'osm_json': {'place_id': 20517188,
   'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
   'osm_type': 'node',
   'osm_id': 2081887486,
   'lat': '39.0518536',
   'lon': '-95.7156191',
   'display_name': '932, Southwest Oakley Avenue, Monteith Place, Topeka, Shawnee County, Kansas, 66606, United States of America',
   'address': {'house_number': '932',
    'road': 'Southwest Oakley Avenue',
    'residential': 'Monteith Place',
    'city': 'Topeka',
    'county': 'Shawnee County',
    'state': 'Kansas',
    'postcode': '66606',
    'country': 'United States of America',
    'country_code': 'us'},
   'boundingbox': ['39.0518036', '39.0519036', '-95.7156691', '-95.7155691']}}]

In [ ]:
    city = ''
    
    # cities
    try:
        city = location['address']['city']
    except:
        pass
    
    try:
        city = location['address']['town']
    except:
        pass
    
    try:
        city = location['address']['village']
    except:
        pass
    
    # skip entities with no city information
    if city == "":
        print("no city")
        print(location)
        pass
  
    location_append.append({
        'osm_place_id' : location['place_id'],
        'city' : city,
        'country' : location['address']['country'],
        'country_code' : location['address']['country_code']
    })

In [0]:
geolocator = Nominatim()

for index, row in places.iterrows():
  row['loc_json'] = geolocator.reverse(str(row["lat"]) + ", " + str(row["long"])).raw

/usr/local/lib/python3.6/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

GeocoderTimedOut: ignored

## Graph Representations

* having some issues importing Stanford Snap (conflicts with another library called snap)
* I'm going to try iGraph in the meantime

### Limitations

* the max userID will be the number of edges required in the graph (assumption)
* using the maximum number of nodes in the graph (196591) takes a long time to generate the graph
  * this I would assume makes the algorithms for these graphs tricky to run
  * I could also be adding the edges in an unefficient way (explore ways of generating graphs)
    * might be better to add edges in batches instead of one edge at a time (explore this)

#### Ways to set limits
* we can limit the groups to the first n number of users (example only nodes 0 - 1000)
  * however under the assumption that userIDs are added based on the time the user adds themselves to the network, then there will be a lot of graphs that aren't connected because they are in geographically seperate locations
* a better soltuion would be to take a group of n people in close proximety of one another
  * we could find the average latitude and longitude of a users and record this as the area they are generally in
  * we'll then randomly select a user and select the n amount of people closest to this user (ranking by the distance between their average locations)

In [0]:
edgesG = Graph()
total_edges = max(edges['u1'].max(), edges['u2'].max())
total_edges

196590

In [0]:
edgesG.add_vertices(total_edges)

In [0]:
# this takes too long; there's got to be a better way!

for i in range(len(edges)):
  edgesG.add_edge(edges.loc[i, "u1"], edges.loc[i, "u2"])

## Map APIs

* important for querying specific information about locations people visit
* data visualization is not an essential part of the project, but is worth exploring if data visualization is easy

### Notes About OSM
* [OpenStreetMap Article](https://towardsdatascience.com/loading-data-from-openstreetmap-with-python-and-the-overpass-api-513882a27fd0)

* We will be using the Overpass API to get information about our locations
  * [Overpass Querying Language](https://wiki.openstreetmap.org/wiki/Overpass_API/Overpass_QL)
  * [Site for Testing Overpass Queries](http://overpass-turbo.eu/)


* **node**: a specific lat, long point
* **relation**: a region (typically for buildings that require multiple polygons
  * probably will be using this for our project (need a way to query if a user's location is in a certain relation)
  * includes tags which can helps us

In [0]:
# example of an overpass query that collects all the biergartens in germany
# there are a lot of biergartens in Germany lol; so the query will take long to run 
# notice that it includes every OpenStreetMap datatype (node, way, rel); maybe there are biergarten streets? (way)

import requests
import json

overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
area["ISO3166-1"="DE"][admin_level=2];
(node["amenity"="biergarten"](area);
 way["amenity"="biergarten"](area);
 rel["amenity"="biergarten"](area);
);
out center;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
data = response.json()

In [0]:
# notice how descriptive the API is for relations

data['elements'][5:10]

[{'id': 27318009,
  'lat': 52.4200885,
  'lon': 13.1763456,
  'tags': {'addr:city': 'Berlin',
   'addr:housenumber': '260',
   'addr:postcode': '14109',
   'addr:street': 'Kronprinzessinnenweg',
   'amenity': 'biergarten',
   'contact:email': 'info@loretta-berlin.de',
   'contact:fax': '+49 30 80105334',
   'contact:phone': '+49 30 80105333',
   'contact:website': 'https://www.loretta-wannsee.de/biergarten/',
   'name': 'Loretta',
   'opening_hours': '12:00+',
   'wheelchair': 'limited'},
  'type': 'node'},
 {'id': 27352197,
  'lat': 50.3638373,
  'lon': 7.5769021,
  'tags': {'amenity': 'biergarten', 'wheelchair': 'limited'},
  'type': 'node'},
 {'id': 27787909,
  'lat': 52.9822191,
  'lon': 8.845254,
  'tags': {'amenity': 'biergarten',
   'name': 'Schwarzbiergarten',
   'wheelchair': 'limited'},
  'type': 'node'},
 {'id': 29812167,
  'lat': 49.4814353,
  'lon': 10.993033,
  'tags': {'amenity': 'biergarten',
   'toilets:wheelchair': 'no',
   'wheelchair': 'limited'},
  'type': 'node'},
 {'id': 32628620,
  'lat': 47.9927509,
  'lon': 7.8558873,
  'tags': {'addr:city': 'Freiburg im Breisgau',
   'addr:housenumber': '3',
   'addr:postcode': '79098',
   'addr:street': 'Schlossbergring',
   'amenity': 'biergarten',
   'contact:email': 'info@kastaniengarten-freiburg.de',
   'contact:fax': '+49 761 289602',
   'contact:phone': '+49 761 32728',
   'contact:website': 'http://www.kastaniengarten-freiburg.de/',
   'name': 'Kastaniengarten',
   'opening_hours': 'Mo-Su 11:00-24:00',
   'phone': '+49 761 32728',
   'toilets:wheelchair': 'no',
   'website': 'http://www.greiffenegg.de/kastaniengarten.html',
   'wheelchair': 'limited'},
  'type': 'node'}]

# Sources

A collection of sources to include in the final paper:

* [OpenStreetMap Article](https://towardsdatascience.com/loading-data-from-openstreetmap-with-python-and-the-overpass-api-513882a27fd0)