# CSC 481 Final Presentation

Ayan Patel, Robert Hensley

* [Gowalla Dataset](https://snap.stanford.edu/data/loc-gowalla.html)



---

In [6]:
# Graph Libraries
import igraph
from igraph import *

# Map Libraries
import geopy
from geopy.geocoders import Nominatim

# Other Libraries
import pandas as pd
import itertools
import json
import time
from datetime import datetime
from collections import Counter

## Loading Data

* the cells below clean the text data given
* this can takes 3 - 5 minutes to fully load all dataframes

In [5]:
data_path = 'data/'

# creating dataframes
edges = pd.read_csv(data_path + 'Gowalla_edges.txt', sep='\t', names=['u1', 'u2'])
totalCheckins = pd.read_csv(data_path + 'Gowalla_totalCheckins.txt', sep='\t',
                            names=['user', 'time', 'lat', 'long', 'locid'])

totalCheckins['time'] = totalCheckins['time'].map(lambda x: datetime.strptime(x, "%Y-%m-%dT%H:%M:%SZ"))

In [7]:
totalCheckins

           user                time        lat       long    locid
0             0 2010-10-19 23:55:27  30.235909 -97.795140    22847
1             0 2010-10-18 22:17:43  30.269103 -97.749395   420315
2             0 2010-10-17 23:42:03  30.255731 -97.763386   316637
3             0 2010-10-17 19:26:05  30.263418 -97.757597    16516
4             0 2010-10-16 18:50:42  30.274292 -97.740523  5535878
...         ...                 ...        ...        ...      ...
6442887  196578 2010-06-11 13:32:26  51.742988  -0.488065   906885
6442888  196578 2010-06-11 13:26:45  51.746492  -0.490780   965121
6442889  196578 2010-06-11 13:26:34  51.741916  -0.496729  1174322
6442890  196585 2010-10-08 21:01:49  50.105516   8.571525   471724
6442891  196585 2010-10-07 17:39:18  50.027812   8.785098  4555073

[6442892 rows x 5 columns]

In [5]:
edges

             u1      u2
0             0       1
1             0       2
2             0       3
3             0       4
4             0       5
...         ...     ...
1900649  196586  196539
1900650  196587  196540
1900651  196588  196540
1900652  196589  196547
1900653  196590  196561

[1900654 rows x 2 columns]

### User Notes

* we can get an idea of where the users are generally located by gather the mean of their latitude on longitudinal locations
* other user attributes to collect:
  * earliest time checked in
  * latest time checked in 
    * this shows the general timespan the user has been on the app

In [9]:
totalCheckins['user'].max()

196585

In [8]:
users = totalCheckins.groupby('user').mean()[['lat', 'long']]
users

              lat        long
user
0       33.558308  -97.894601
1       47.204338    4.499703
2       35.659617 -120.016716
4       36.800202 -124.714027
5       32.290069  -96.123008
...           ...         ...
196544 -25.433409  -49.281533
196561  37.528650 -122.004623
196577  51.514905   -0.081277
196578  51.744557   -0.478051
196585  50.066664    8.678312

[107092 rows x 2 columns]

In [11]:
# average amounts of visits per user
totalCheckins.shape[0] / users.shape[0]

60.16221566503567

### Place Notes

* same grouping process as users
* for the scope of this project, we might want to only focus on places with like 5 or more visits

In [9]:
places = totalCheckins.groupby('locid').agg(['mean', 'count'])[['lat', 'long']]

places.columns = ['lat_mean', 'count_drop', 'long_mean', 'visits']
places = places.drop(columns = ['count_drop'])

In [5]:
places.sort_values('visits')

          lat_mean   long_mean  visits
locid
5977757  13.447479  101.019928       1
951900   50.718459   -1.877455       1
951901   41.543670  -83.582070       1
3733285  50.084312   18.212821       1
3733273  33.621132 -112.185371       1
...            ...         ...     ...
58725    59.650051   17.932262    3476
10259    32.897462  -97.040348    4083
9410     30.201557  -97.667127    4713
19542    37.616356 -122.386150    5662
55033    59.330158   18.058079    5811

[1280969 rows x 3 columns]

#### Geolocation Data (geopy)

* our queries use the [Nominatim API](https://nominatim.org/release-docs/develop/api/Overview/) by default

Let's try to find the country all this data is from. We will query location information using [geopy](https://geopy.readthedocs.io/en/stable/). Below is a sample query.

This gives the following important data:
* name 'address > tourism'
* city 'address > city'
* country 'address > country'

However this data lacks:
* context of the location (is it a pub, park, etc.)
    * we can get this information by querying OpenStreetMap using it's place_id, 

Given the limited time for this project, I feel like city and country information should be informative enough.

**Naming Conventions**

* subregions vary between different countries 
    * i.e. states and counties are not found in Germany, boroughs are found in Germany but not the US
    * this means the easiest thing to analyze right now are places < cities < countries
    * this problem can be resolved by focusing on one Country at a time
* the above problem unfortunately also occurs for city names
    * citities can also be called "towns, villages, municipalities, etc.)

In [14]:
from geopy.geocoders import Nominatim

geolocator = Nominatim()

location = geolocator.reverse("39.052318, -94.607499")

C:\Users\Ayan\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.22.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
location.raw

{'place_id': 251278814,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 552493654,
 'lat': '39.052405',
 'lon': '-94.607436',
 'display_name': '4154, State Line Road, Country Club Plaza, Kansas City, Wyandotte County, Missouri, 66103, United States of America',
 'address': {'house_number': '4154',
  'road': 'State Line Road',
  'suburb': 'Country Club Plaza',
  'city': 'Kansas City',
  'county': 'Wyandotte County',
  'state': 'Missouri',
  'postcode': '66103',
  'country': 'United States of America',
  'country_code': 'us'},
 'boundingbox': ['39.052355', '39.052455', '-94.607486', '-94.607386']}

In [16]:
location.raw['address']['country']

'United States of America'

**Goal: Querying the Data**

* now that we have a way of querying information, we would like to extract information from our *places* dataset using the latitude and longitude coordinates
* the two code cells below show us looping through the data in order of how many visits a certain location receives
* this extracts the full JSON object of the location from OpenStreetMaps and stores it in files in chunks of 1000 places
    * we have chosen to limit the number of places analyzed to the top 10,000 because it takes a long time to query the places using a free API

In [12]:
sorted_places = places.sort_values('visits', ascending=False).reset_index()
sorted_places[:10000]

       locid   lat_mean   long_mean  visits
0      55033  59.330158   18.058079    5811
1      19542  37.616356 -122.386150    5662
2       9410  30.201557  -97.667127    4713
3      10259  32.897462  -97.040348    4083
4      58725  59.650051   17.932262    3476
...      ...        ...         ...     ...
9995  230547  36.005830 -115.084607      56
9996   45183  35.655814  -97.470548      56
9997  164356  48.101030   11.645453      56
9998  234171  63.825514   20.261439      56
9999  603750  41.807453  -72.827597      56

[10000 rows x 4 columns]

In [ ]:
geolocator = Nominatim()

location_json = {}
location_json['places'] = []

# choose place to start writing files
i = 1000
chunk = 1000
places_temp = sorted_places[i:]

for index, row in places_temp.iterrows():
    
    location = geolocator.reverse(str(row["lat_mean"]) + ", " + str(row["long_mean"])).raw
    
    location_json['places'].append({'locid' : row['locid'], 'osm_json' : location})
    
    if index % chunk == 0 and index != i:
        
        with open('data/json/' + str(index) + '.json', 'w') as outfile:
            json.dump(location_json, outfile)
        
        print(str(index) + ' index JSON written')
        
        location_json['places'] = []

**Cleaning the Data**

* now that we have the data, we would like append the information to our original data frame
* new information includes:
    * the city of the location
    * the country of the location (including country code)
    * the name of the location
    
* the code cells below show how the JSON data collected from the OSM api is added to the places dataframe (for the top 10000 locations)

In [14]:
import json

data_path = 'data/json/'
start = 2000

location_append = []


while start <= 10000:
    
    with open(data_path + str(start) + '.json', 'r') as f:
        batch = json.load(f)

    places = batch['places']
    
    for location in places:
        
        # cities
        try:
            city = location['osm_json']['address']['city']
        except:
            pass

        try:
            city = location['osm_json']['address']['town']
        except:
            pass

        try:
            city = location['osm_json']['address']['village']
        except:
            pass

        # skip entities with no city information
        if city == "":
            print("no city")
            print(location)
    
        # countries
        country = ""
        country_code = ""
        
        try:
            country = location['osm_json']['address']['country']
        except:
            pass
        
        try:
            country_code = location['osm_json']['address']['country_code']
        except:
            pass
        
        if country == "":
            print("no country")
            print(location)
        
        location_append.append({
            'locid_check' : location['locid'], 
            'osm_place_id' : location['osm_json']['place_id'],
            'display_name' : location['osm_json']['display_name'],
            'city' : city,
            'country' : country,
            'country_code' : country_code
        })
    
    start += 1000

no country
{'locid': 17100.0, 'osm_json': {'place_id': 283373754, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'node', 'osm_id': 3815077900, 'lat': '0', 'lon': '0', 'display_name': 'Soul Buoy', 'address': {'man_made': 'Soul Buoy'}, 'boundingbox': ['-5.0E-5', '5.0E-5', '-5.0E-5', '5.0E-5']}}

In [15]:
append_df = pd.DataFrame(location_append)[:-1]

append_df

,locid_check,osm_place_id,display_name,city,country,country_code
0,55033.0,235973447,"Pennfäktaren, Norrmalm, Norrmalms stadsdelsomr...",Stockholm,Sverige,se
1,19542.0,235227144,"Domestic Garage, Zone F/G, Lomita Park, San Ma...",Stockholm,United States of America,us
2,9410.0,235768752,"Austin-Bergstrom International Airport (AUS), ...",Austin,United States of America,us
3,10259.0,186874070,"FAA Tower, International Parkway, Grapevine, T...",Grapevine,United States of America,us
4,58725.0,105773201,"Stockholm-Arlanda flygplats, 273, Starrmossen,...",Grapevine,Sverige,se
...,...,...,...,...,...,...
9995,230547.0,257735126,"2265, West Horizon Ridge Parkway, Macdonald Ra...",Henderson,United States of America,us
9996,45183.0,145877854,"Thatcher Hall, East Hurd Street, Edmond, Oklah...",Edmond,United States of America,us
9997,164356.0,235795942,"Bezirksteil Neuperlach, Stadtbezirk 16 Ramersd...",München,Deutschland,de
9998,234171.0,46570017,"Ginatricot, Rådhustorget, Centrum, Centrala st...",Umeå,Sverige,se
9999,603750.0,7703293,"Elephant Trail, East Main Street, Old Avon Vil...",Avon,United States of America,us

In [17]:
append_df = pd.DataFrame(location_append)[:-1]
places_top10_desc = places_top10.join(append_df)

places_top10_desc

,locid,lat_mean,long_mean,visits,locid_check,osm_place_id,display_name,city,country,country_code
0,55033,59.330158,18.058079,5811,55033.0,235973447,"Pennfäktaren, Norrmalm, Norrmalms stadsdelsomr...",Stockholm,Sverige,se
1,19542,37.616356,-122.386150,5662,19542.0,235227144,"Domestic Garage, Zone F/G, Lomita Park, San Ma...",Stockholm,United States of America,us
2,9410,30.201557,-97.667127,4713,9410.0,235768752,"Austin-Bergstrom International Airport (AUS), ...",Austin,United States of America,us
3,10259,32.897462,-97.040348,4083,10259.0,186874070,"FAA Tower, International Parkway, Grapevine, T...",Grapevine,United States of America,us
4,58725,59.650051,17.932262,3476,58725.0,105773201,"Stockholm-Arlanda flygplats, 273, Starrmossen,...",Grapevine,Sverige,se
...,...,...,...,...,...,...,...,...,...,...
9995,230547,36.005830,-115.084607,56,230547.0,257735126,"2265, West Horizon Ridge Parkway, Macdonald Ra...",Henderson,United States of America,us
9996,45183,35.655814,-97.470548,56,45183.0,145877854,"Thatcher Hall, East Hurd Street, Edmond, Oklah...",Edmond,United States of America,us
9997,164356,48.101030,11.645453,56,164356.0,235795942,"Bezirksteil Neuperlach, Stadtbezirk 16 Ramersd...",München,Deutschland,de
9998,234171,63.825514,20.261439,56,234171.0,46570017,"Ginatricot, Rådhustorget, Centrum, Centrala st...",Umeå,Sverige,se
9999,603750,41.807453,-72.827597,56,603750.0,7703293,"Elephant Trail, East Main Street, Old Avon Vil...",Avon,United States of America,us

In [ ]:
places_top10_desc.to_csv('data/places_top10_desc.csv')

In [18]:
# top cities
places_top10_desc['city'].value_counts()

Austin               1183
Stockholm             816
San Francisco         517
Göteborg              295
Dallas                250
                     ...
Englewood               1
Sankt Wolfgang          1
Cypress                 1
Puerto de la Cruz       1
Kalaoa CDP              1
Name: city, Length: 1529, dtype: int64

In [19]:
# top countries
places_top10_desc['country'].value_counts()

United States of America       5894
Sverige                        1954
Deutschland                     412
United Kingdom                  338
Norge                           269
Canada                          126
Nederland                       120
Saudi Arabia / السعودية         111
België - Belgique - Belgien      99
ประเทศไทย                        81
日本 (Japan)                       79
Switzerland                      69
Australia                        65
France                           43
Česká republika                  36
Portugal                         33
Österreich                       29
Danmark                          27
Italia                           25
Malaysia                         24
Singapore                        24
España                           19
Magyarország                     14
China 中国                         14
Philippines                      12
Brasil                           10
Indonesia                         8
Suomi                             7
India                             5
Polska                            5
Luxembourg                        5
Venezuela                         4
United Arab Emirates              4
South Africa                      4
대한민국                              3
Taiwan                            3
Latvija                           2
Россия                            2
ישראל                             2
Việt Nam                          2
México                            2
Ireland                           2
New Zealand                       2
Hrvatska                          2
Türkiye                           1
Jordan / الأُرْدُن                1
Slovensko                         1
قطر Qatar                         1
Ελλάδα                            1
Chile                             1
Slovenija                         1
România                           1
                                  1
Name: country, dtype: int64

**Connecting Top 10 Places with Users**

* we would like to see which users visited the top 10 locations
* this can be done with a simple filtering query
* finally, combine the top 10 places users with the queried information using a simple left join


We will use this data later when looking at centrality of cities and countries in the graph representations section of our report.

* I also will be creating unique city id's and country id's for graph representations of cities and countries (these will be their vertex ID's)

In [131]:
top10_checkins = totalCheckins[totalCheckins.locid.isin(places_top10['locid'])]
top10_checkins

           user                time        lat        long    locid
0             0 2010-10-19 23:55:27  30.235909  -97.795140    22847
1             0 2010-10-18 22:17:43  30.269103  -97.749395   420315
2             0 2010-10-17 23:42:03  30.255731  -97.763386   316637
3             0 2010-10-17 19:26:05  30.263418  -97.757597    16516
4             0 2010-10-16 18:50:42  30.274292  -97.740523  5535878
...         ...                 ...        ...         ...      ...
6442635  196528 2010-10-11 01:42:02  13.766876  100.570672   761001
6442643  196528 2010-10-04 11:55:05  13.766876  100.570672   761001
6442650  196528 2010-09-30 02:33:25  13.689897  100.748320    23519
6442698  196541 2010-09-24 11:26:52  51.496105   -0.171834    23876
6442771  196561 2010-10-03 03:35:24  37.599190 -122.068819   270202

[1250045 rows x 5 columns]

In [140]:
top10_checkins_desc = top10_checkins.merge(places_top10_desc, on='locid')

unique_cities = list(dict.fromkeys(list(top10_checkins_desc['city'])))
unique_countries = list(dict.fromkeys(list(top10_checkins_desc['country'])))

top10_checkins_desc = top10_checkins_desc.merge(pd.DataFrame({'city' : unique_cities, 'city_id' : range(len(unique_cities))}), on='city')
top10_checkins_desc = top10_checkins_desc.merge(pd.DataFrame({'country' : unique_countries, 'country_id' : range(len(unique_countries))}), on='country')

top10_checkins_desc[['user', 'locid', 'city', 'city_id', 'country', 'country_id']]

,user,locid,city,city_id,country,country_id
0,0,22847,Austin,0,United States of America,0
1,31,22847,Austin,0,United States of America,0
2,66,22847,Austin,0,United States of America,0
3,350,22847,Austin,0,United States of America,0
4,387,22847,Austin,0,United States of America,0
...,...,...,...,...,...,...
1250040,108841,1505587,Las Condes,1483,Chile,51
1250041,108841,1505587,Las Condes,1483,Chile,51
1250042,108841,1505587,Las Condes,1483,Chile,51
1250043,108841,1505587,Las Condes,1483,Chile,51
1250044,108841,1505587,Las Condes,1483,Chile,51

## Graph Representations

### Limitations

* the max userID will be the number of edges required in the graph (assumption)
* using the maximum number of nodes in the graph (196591) takes a long time to generate the graph
  * this I would assume makes the algorithms for these graphs tricky to run
  * I could also be adding the edges in an unefficient way (explore ways of generating graphs)
    * might be better to add edges in batches instead of one edge at a time (explore this)

#### Ways to set limits
* we can limit the groups to the first n number of users (example only nodes 0 - 1000)
  * however under the assumption that userIDs are added based on the time the user adds themselves to the network, then there will be a lot of graphs that aren't connected because they are in geographically seperate locations
* a better soltuion would be to take a group of n people in close proximety of one another
  * we could find the average latitude and longitude of a users and record this as the area they are generally in
  * we'll then randomly select a user and select the n amount of people closest to this user (ranking by the distance between their average locations)

In [6]:
edgesG = Graph()
total_edges = max(edges['u1'].max(), edges['u2'].max())
total_edges

196590

In [18]:
edgesG.add_vertices(total_edges)

In [0]:
# this takes too long; there's got to be a better way!

for i in range(len(edges)):
  edgesG.add_edge(edges.loc[i, "u1"], edges.loc[i, "u2"])

### Creating graph of user friendship

In [6]:
#Faster way to make graph from df tuples
eG = igraph.Graph.TupleList(edges.itertuples(index=False), directed=False, weights=False)
eG.summary()

'IGRAPH UN-- 196591 1900654 -- \n+ attr: name (v)'

Finding the indegree of each user and identifying the user with maximum degree

In [7]:
#Finds degrees of each vertex and the max degree and its vertex - popularity
eG_degrees = eG.indegree()
print(max(eG_degrees))
eG_max_degree_index = eG_degrees.index(max(eG_degrees))
eG.vs[eG_max_degree_index]

29460

igraph.Vertex(<igraph.Graph object at 0x000001B08ABCAE58>, 307, {'name': 307})

Finding all the neighbors of the user with maximum degree, in other words all of the popular user's friends

In [8]:
eG.neighbors(eG_max_degree_index)

[0,
 0,
 1,
 1,
 2,
 2,
 3,
 3,
 5,
 5,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 14,
 14,
 17,
 17,
 18,
 18,
 20,
 20,
 21,
 21,
 22,
 22,
 24,
 24,
 30,
 30,
 35,
 35,
 37,
 37,
 39,
 39,
 43,
 43,
 44,
 44,
 46,
 46,
 49,
 49,
 50,
 50,
 53,
 53,
 54,
 54,
 55,
 55,
 60,
 60,
 61,
 61,
 65,
 65,
 67,
 67,
 68,
 68,
 69,
 69,
 71,
 71,
 72,
 72,
 73,
 73,
 75,
 75,
 80,
 80,
 82,
 82,
 90,
 90,
 91,
 91,
 94,
 94,
 96,
 96,
 112,
 112,
 113,
 113,
 114,
 114,
 115,
 115,
 117,
 117,
 119,
 119,
 123,
 123,
 140,
 140,
 141,
 141,
 143,
 143,
 145,
 145,
 153,
 153,
 158,
 158,
 168,
 168,
 174,
 174,
 178,
 178,
 180,
 180,
 182,
 182,
 184,
 184,
 188,
 188,
 194,
 194,
 198,
 198,
 202,
 202,
 205,
 205,
 207,
 207,
 209,
 209,
 210,
 210,
 211,
 211,
 215,
 215,
 216,
 216,
 218,
 218,
 219,
 219,
 220,
 220,
 223,
 223,
 228,
 228,
 236,
 236,
 237,
 237,
 241,
 241,
 242,
 242,
 243,
 243,
 244,
 244,
 245,
 245,
 248,
 248,
 261,
 261,
 266,
 266,
 269,
 269,
 279,
 279,
 281,
 281,
 284,
 284,
 286,
 286,
 291,
 291,
 296,
 296,
 300,
 300,
 303,
 303,
 309,
 309,
 316,
 316,
 322,
 322,
 325,
 325,
 330,
 330,
 332,
 332,
 340,
 340,
 341,
 341,
 352,
 352,
 356,
 356,
 359,
 359,
 360,
 360,
 362,
 362,
 368,
 368,
 372,
 372,
 373,
 373,
 376,
 376,
 378,
 378,
 379,
 379,
 381,
 381,
 391,
 391,
 392,
 392,
 395,
 395,
 397,
 397,
 401,
 401,
 408,
 408,
 409,
 409,
 411,
 411,
 412,
 412,
 417,
 417,
 425,
 425,
 429,
 429,
 432,
 432,
 436,
 436,
 437,
 437,
 444,
 444,
 450,
 450,
 451,
 451,
 458,
 458,
 459,
 459,
 463,
 463,
 465,
 465,
 479,
 479,
 480,
 480,
 482,
 482,
 483,
 483,
 484,
 484,
 485,
 485,
 486,
 486,
 488,
 488,
 489,
 489,
 491,
 491,
 493,
 493,
 495,
 495,
 497,
 497,
 498,
 498,
 500,
 500,
 505,
 505,
 507,
 507,
 511,
 511,
 517,
 517,
 520,
 520,
 522,
 522,
 524,
 524,
 525,
 525,
 527,
 527,
 532,
 532,
 537,
 537,
 544,
 544,
 546,
 546,
 556,
 556,
 559,
 559,
 560,
 560,
 561,
 561,
 562,
 562,
 567,
 567,
 568,
 568,
 570,
 570,
 571,
 571,
 575,
 575,
 579,
 579,
 580,
 580,
 581,
 581,
 583,
 583,
 585,
 585,
 592,
 592,
 596,
 596,
 597,
 597,
 598,
 598,
 599,
 599,
 603,
 603,
 604,
 604,
 607,
 607,
 608,
 608,
 614,
 614,
 616,
 616,
 619,
 619,
 620,
 620,
 621,
 621,
 626,
 626,
 629,
 629,
 630,
 630,
 633,
 633,
 637,
 637,
 639,
 639,
 640,
 640,
 641,
 641,
 656,
 656,
 658,
 658,
 661,
 661,
 662,
 662,
 664,
 664,
 666,
 666,
 679,
 679,
 685,
 685,
 687,
 687,
 693,
 693,
 696,
 696,
 702,
 702,
 712,
 712,
 715,
 715,
 717,
 717,
 721,
 721,
 724,
 724,
 730,
 730,
 731,
 731,
 732,
 732,
 736,
 736,
 739,
 739,
 745,
 745,
 747,
 747,
 748,
 748,
 750,
 750,
 751,
 751,
 752,
 752,
 756,
 756,
 757,
 757,
 761,
 761,
 763,
 763,
 769,
 769,
 771,
 771,
 774,
 774,
 787,
 787,
 792,
 792,
 793,
 793,
 801,
 801,
 803,
 803,
 806,
 806,
 808,
 808,
 809,
 809,
 812,
 812,
 816,
 816,
 823,
 823,
 838,
 838,
 845,
 845,
 846,
 846,
 849,
 849,
 853,
 853,
 855,
 855,
 857,
 857,
 860,
 860,
 861,
 861,
 863,
 863,
 865,
 865,
 875,
 875,
 880,
 880,
 889,
 889,
 901,
 901,
 909,
 909,
 911,
 911,
 913,
 913,
 915,
 915,
 919,
 919,
 922,
 922,
 928,
 928,
 931,
 931,
 934,
 934,
 935,
 935,
 936,
 936,
 948,
 948,
 956,
 956,
 969,
 969,
 971,
 971,
 982,
 982,
 990,
 990,
 994,
 994,
 998,
 998,
 1011,
 1011,
 1012,
 1012,
 1015,
 1015,
 1021,
 1021,
 1026,
 1026,
 1028,
 1028,
 1033,
 1033,
 1034,
 1034,
 1044,
 1044,
 1046,
 1046,
 1048,
 1048,
 1052,
 1052,
 1053,
 1053,
 1054,
 1054,
 1067,
 1067,
 1068,
 1068,
 1070,
 1070,
 1071,
 1071,
 1072,
 1072,
 1076,
 1076,
 1078,
 1078,
 1084,
 1084,
 1101,
 1101,
 1105,
 1105,
 1108,
 1108,
 1109,
 1109,
 1122,
 1122,
 1125,
 1125,
 1129,
 1129,
 1130,
 1130,
 1134,
 1134,
 1136,
 1136,
 1145,
 1145,
 1146,
 1146,
 1150,
 1150,
 1152,
 1152,
 1158,
 1158,
 1159,
 1159,
 1160,
 1160,
 1161,
 1161,
 1162,
 1162,
 1163,
 1163,
 1164,
 1164,
 1166,
 1166,
 1168,
 1168,
 1170,
 1170,
 1175,
 1175,
 1185,
 1185,
 1187,
 1187,
 1188,
 1188,
 1193,
 1193,
 1202,
 1202,
 1203,
 1203,
 1204,
 1204,
 1205,
 1205,
 1207,
 1207,
 1211,
 1211,
 1212,
 1212,
 1215,
 1215,
 1217,
 1217,
 1219,
 1219,
 1220,
 1220,
 1221,
 1221,
 1225,
 1225,
 1226,
 1226,
 1229,
 1229,
 1233,
 1233,
 1238,
 1238,
 1240,
 1240,
 1242,
 1242,
 1243,
 1243,
 1248,
 1248,
 1250,
 1250,
 1251,
 1251,
 1253,
 1253,
 1267,
 1267,
 1269,
 1269,
 1270,
 1270,
 1271,
 1271,
 1274,
 1274,
 1276,
 1276,
 1283,
 1283,
 1285,
 1285,
 1288,
 1288,
 1294,
 1294,
 1302,
 1302,
 1303,
 1303,
 1310,
 1310,
 1320,
 1320,
 1324,
 1324,
 1325,
 1325,
 1326,
 1326,
 1334,
 1334,
 1336,
 1336,
 1337,
 1337,
 1345,
 1345,
 1347,
 1347,
 1351,
 1351,
 1354,
 1354,
 1363,
 1363,
 1366,
 1366,
 1367,
 1367,
 1391,
 1391,
 1395,
 1395,
 1400,
 1400,
 1403,
 1403,
 1404,
 1404,
 1406,
 1406,
 1407,
 1407,
 1409,
 1409,
 1410,
 1410,
 1411,
 1411,
 1412,
 1412,
 1414,
 1414,
 1416,
 1416,
 1423,
 1423,
 1426,
 1426,
 1430,
 1430,
 1431,
 1431,
 1432,
 1432,
 1433,
 1433,
 1435,
 1435,
 1439,
 1439,
 1444,
 1444,
 1448,
 1448,
 1450,
 1450,
 1451,
 1451,
 1452,
 1452,
 1453,
 1453,
 1454,
 1454,
 1456,
 1456,
 1458,
 1458,
 1460,
 1460,
 1461,
 1461,
 1464,
 1464,
 1466,
 1466,
 1468,
 1468,
 1469,
 1469,
 1470,
 1470,
 1472,
 1472,
 1475,
 1475,
 1483,
 1483,
 1484,
 1484,
 1485,
 1485,
 1486,
 1486,
 1489,
 1489,
 1491,
 1491,
 1495,
 1495,
 1496,
 1496,
 1500,
 1500,
 1501,
 1501,
 1504,
 1504,
 1505,
 1505,
 1516,
 1516,
 1520,
 1520,
 1521,
 1521,
 1525,
 1525,
 1528,
 1528,
 1538,
 1538,
 1546,
 1546,
 1548,
 1548,
 1551,
 1551,
 1553,
 1553,
 1554,
 1554,
 1558,
 1558,
 1561,
 1561,
 1563,
 1563,
 1564,
 1564,
 1565,
 1565,
 1574,
 1574,
 1577,
 1577,
 1581,
 1581,
 1582,
 1582,
 1593,
 1593,
 1595,
 1595,
 1599,
 1599,
 1604,
 1604,
 1606,
 1606,
 1612,
 1612,
 1615,
 1615,
 1619,
 1619,
 1624,
 1624,
 1625,
 1625,
 1638,
 1638,
 1640,
 1640,
 1641,
 1641,
 1649,
 1649,
 1654,
 1654,
 1655,
 1655,
 1656,
 1656,
 1657,
 1657,
 1658,
 1658,
 1661,
 1661,
 1662,
 1662,
 1664,
 1664,
 1672,
 1672,
 1674,
 1674,
 1675,
 1675,
 1677,
 1677,
 1678,
 1678,
 1690,
 1690,
 1691,
 1691,
 1696,
 1696,
 1697,
 1697,
 1703,
 1703,
 1704,
 1704,
 1705,
 1705,
 1708,
 1708,
 1709,
 1709,
 1715,
 1715,
 1718,
 1718,
 1722,
 1722,
 1723,
 1723,
 1728,
 1728,
 ...]

### Creating graph of users that visited the top 10k places

In [11]:
top10_eG = igraph.Graph.TupleList(top10_edges.itertuples(index=False), directed=False, weights=False)
top10_eG.summary()

'IGRAPH UN-- 63954 633948 -- \n+ attr: name (v)'

Identifying the user with max degree, most popular

In [10]:
top10_eG_degrees = top10_eG.indegree()
print(max(top10_eG_degrees))
top10_eG_max_degree_index = top10_eG_degrees.index(max(top10_eG_degrees))
top10_eG.vs[top10_eG_max_degree_index]

14630

igraph.Vertex(<igraph.Graph object at 0x000001CCA9533E58>, 268, {'name': 307})

Using pagerank to find the most popular user - note it matches above method

In [24]:
top10_eG_PR = top10_eG.pagerank()
print(max(top10_eG_PR))
print(top10_eG_PR.index(max(top10_eG_PR)))
top10_eG_PR

0.01109515802806296
268

[0.0005601428985739857,
 0.0012451564315959104,
 3.9544888079393464e-05,
 0.0005378165257966492,
 4.1839343459879194e-05,
 4.509137461765956e-05,
 3.139457580824911e-05,
 2.2394456969758714e-05,
 1.8308983076667677e-05,
 3.7075088254714646e-05,
 4.2564765231561685e-05,
 0.00012220473017581946,
 3.504858739399901e-05,
 3.077570251426852e-05,
 0.00011980908394106588,
 3.0447555293858315e-05,
 0.00014091226344829672,
 0.00025192650719313024,
 0.00021114524289245172,
 1.1705708578519792e-05,
 1.585730333712413e-05,
 2.4330927487731063e-05,
 4.911319873694109e-05,
 6.216401646213416e-05,
 1.986162431136007e-05,
 5.836984111221423e-05,
 3.6793734815685755e-05,
 0.00011446439056066688,
 3.3207052781472134e-05,
 8.262801306450721e-05,
 4.069785166706043e-05,
 2.4867214998666827e-05,
 2.456672176997244e-05,
 0.0002279537320801742,
 0.00018039844014468582,
 0.00010946901292076022,
 4.259099614362942e-05,
 0.00024576391209893444,
 8.500463345363405e-06,
 2.593635760059841e-05,
 2.1832071695049115e-05,
 1.165657894074712e-05,
 2.7655818675963825e-05,
 0.00010011770718833356,
 0.00010783089569058389,
 4.037023687815054e-05,
 0.00011195080393830029,
 3.98834182913582e-05,
 2.1833399587965797e-05,
 9.245729474219533e-05,
 1.8178463818307005e-05,
 6.914197450900743e-05,
 0.00011184102936626916,
 0.0001369230911326187,
 7.901007579800283e-05,
 0.00017903271024236045,
 0.0003068848992576428,
 0.0001745010046653994,
 1.779455394342478e-05,
 1.4031260953422904e-05,
 1.970581121833964e-05,
 1.4342516778470755e-05,
 2.0366790632741203e-05,
 6.346746009586448e-06,
 3.954579819801092e-05,
 4.244077491593962e-05,
 2.9833528559051362e-05,
 2.340074368905092e-05,
 3.4993068078330566e-05,
 3.835823385504334e-05,
 4.4967223871927755e-05,
 0.0005386300097872581,
 7.720290171689807e-05,
 3.612239105487739e-05,
 3.4065649765635265e-05,
 8.670707657962668e-05,
 4.4157875455573714e-05,
 7.356305735767007e-05,
 0.00013171777744409735,
 1.8432693117902614e-05,
 4.6263419961335754e-05,
 4.422715058037986e-05,
 5.914036343527242e-05,
 3.183341392049596e-05,
 9.468806278321771e-05,
 6.829599018957988e-05,
 0.0001639893029797324,
 6.379890807220332e-05,
 0.00010505130361939573,
 7.361378607456864e-05,
 4.709795364663179e-05,
 1.2838107143075814e-05,
 4.349789268012195e-05,
 8.395742158538673e-05,
 5.2345793262789834e-05,
 6.930072620191809e-05,
 6.360406718354495e-05,
 1.9218696513524666e-05,
 1.3769741864499597e-05,
 0.00019550597162323804,
 0.00011110538952180759,
 1.0070706787621971e-05,
 3.714445385574156e-05,
 2.1580457284956527e-05,
 0.00016486553227753985,
 6.434842959287074e-05,
 3.0022718750784044e-05,
 1.7723114629316797e-05,
 1.2807131965698405e-05,
 0.0001418370639970972,
 0.00012718803494091963,
 2.3588423045249268e-05,
 5.421321829994384e-05,
 1.240631485834682e-05,
 3.240400939473155e-06,
 3.812056078434903e-05,
 1.7360701930150692e-05,
 5.8370660961824686e-05,
 0.00011252521705402648,
 7.433719046099599e-05,
 3.196399069195355e-05,
 0.00012373044789831645,
 0.0001924088821061637,
 3.2962771641088836e-05,
 0.00010375635087191694,
 5.3761808390770315e-05,
 0.00014204456437111145,
 6.583157732996011e-05,
 1.842466568409137e-05,
 1.800313190707728e-05,
 7.576755145948957e-05,
 6.307855128879553e-06,
 4.211448224605704e-05,
 0.00013951685860590858,
 0.00027464701360894577,
 3.466046820478656e-05,
 6.0268301341874054e-05,
 3.846398627112558e-05,
 0.00015721418714591167,
 2.629919705627952e-05,
 1.0847336569363064e-05,
 6.0973449592817023e-05,
 0.00012617803711692058,
 4.380388597967303e-05,
 4.389919651600279e-05,
 2.189916613842858e-05,
 7.977212431617519e-05,
 4.3849838240170004e-05,
 3.6215182319034684e-05,
 1.8836938382866976e-05,
 8.552913587149533e-05,
 5.319867993853863e-05,
 0.00014327181739531657,
 3.105311479440669e-05,
 2.8698400181664938e-05,
 1.7732671016885173e-05,
 0.00011366577394923104,
 5.481945073111378e-05,
 0.00021057271135074316,
 0.00017601598755824903,
 2.41525533929377e-05,
 0.00014115981576241787,
 3.6220449026630726e-05,
 6.98081270175894e-05,
 4.532349281234383e-05,
 4.59862340389305e-05,
 2.028980176133124e-05,
 1.4343947680474354e-05,
 1.1453922965570096e-05,
 3.7255980945686653e-05,
 3.2787756671759283e-05,
 0.00011462119180732057,
 3.648643929932209e-05,
 1.4528045058035679e-05,
 4.8700975381670314e-05,
 0.00024724468808435716,
 0.00012668682506194152,
 0.00016339875972702119,
 3.1781515111454094e-05,
 2.145241755113971e-05,
 0.0002293050937658583,
 5.333419083144743e-05,
 9.99542762956426e-05,
 0.00013481419504238697,
 5.428353902683616e-05,
 1.2439152799035713e-05,
 5.346978112901845e-05,
 2.173879592924975e-05,
 0.0001003666187422412,
 0.0002170864672190533,
 3.963127157516163e-05,
 0.008781383773746057,
 7.619136605531376e-05,
 4.9219117263500645e-05,
 2.2623134207661704e-05,
 1.9475706147207093e-05,
 3.240400939473155e-06,
 5.17031834152727e-05,
 2.1482445896550127e-05,
 2.187220521814191e-05,
 1.7698167560684985e-05,
 2.8223350659097947e-05,
 5.4304650374956975e-05,
 1.5260156626242286e-05,
 1.5187668729974886e-05,
 6.49489085172977e-05,
 6.630341897444142e-05,
 3.2004987167894636e-05,
 2.1803701154476467e-05,
 3.1465068306763624e-05,
 0.00027100547629029046,
 3.722290930019857e-05,
 4.141001002882493e-05,
 8.014674862935927e-05,
 8.96191131253731e-05,
 7.358005296522842e-06,
 5.448423668768977e-05,
 4.056080073830537e-05,
 8.42859128605113e-05,
 1.143676131594034e-05,
 2.472526385245789e-05,
 4.3321066365479736e-05,
 1.0572530023520378e-05,
 3.6174321389956026e-05,
 6.33247447531779e-05,
 2.792104877691654e-05,
 3.647305948422336e-05,
 7.359593111821137e-05,
 3.273275649148171e-05,
 2.56044240293458e-05,
 3.1181794368602606e-05,
 2.440787554914995e-05,
 1.933002971601391e-05,
 0.0003019393523246788,
 1.0049052520721655e-05,
 5.737023531871039e-05,
 8.696409747486776e-06,
 2.8348949046762805e-05,
 2.3081056801195893e-05,
 3.970464840701054e-05,
 0.0001013880564715757,
 6.912582137153237e-05,
 1.0740491233763589e-05,
 1.050252711850895e-05,
 7.252687241668931e-05,
 0.00010500087854319241,
 3.910852751947217e-05,
 0.00015173494823317036,
 6.035230679249147e-05,
 3.1821130471912834e-05,
 0.0002556218717879147,
 2.940097178198523e-05,
 5.809872375738144e-06,
 1.5536564696574723e-05,
 7.055013770795323e-05,
 0.00012409104326608782,
 1.1450309767609865e-05,
 2.3460175026001138e-05,
 5.938948463372939e-05,
 0.00011447253471046727,
 4.334257441091666e-05,
 8.083656463352616e-06,
 7.015360787502606e-05,
 1.9481267336831754e-05,
 1.9882633676815106e-05,
 0.00010598505561236548,
 7.522610735384477e-05,
 6.716006297929774e-06,
 0.01109515802806296,
 1.971208921033928e-05,
 5.8858985075922835e-05,
 3.9854785062281515e-05,
 7.177501567852029e-05,
 6.253231102547234e-06,
 3.134246491207102e-05,
 1.6350660116476134e-05,
 4.38504187825455e-05,
 4.771608218165475e-05,
 5.143408265081873e-05,
 9.897884887705174e-06,
 5.237743790759763e-05,
 7.436638781561403e-05,
 7.637299861283183e-06,
 0.00036044935640962517,
 3.815170670364815e-05,
 0.00016716612854683022,
 5.756404964263398e-05,
 1.314169101255447e-05,
 0.00020201450445117382,
 1.0292429440698819e-05,
 1.6695627528848633e-05,
 9.96269658308981e-05,
 5.2806159147688885e-05,
 6.823718334952109e-05,
 1.4031559304436346e-05,
 9.162266958611627e-05,
 1.9338484713301543e-05,
 5.403838988469205e-05,
 4.337974006579538e-05,
 0.00016591364187055577,
 4.8401512680026416e-05,
 3.482927430315671e-05,
 1.605591080499548e-05,
 2.4323621287776953e-05,
 2.173998395023526e-05,
 6.487709427597746e-05,
 7.681051893476844e-06,
 6.430383077863733e-05,
 1.1348245488064905e-05,
 1.013565663474072e-05,
 9.190637757606038e-05,
 9.140092652576457e-05,
 4.2069876652041026e-05,
 3.652753859830116e-05,
 4.1842106847417406e-05,
 2.2871522536326344e-05,
 7.020290500783559e-05,
 9.089958619499917e-05,
 7.914911270900415e-05,
 4.8449100124903045e-06,
 6.721503587633698e-05,
 5.163801460077245e-06,
 4.230389437409327e-05,
 1.2096872413967845e-05,
 5.711204247121089e-05,
 3.657820650610378e-05,
 7.827760065161052e-05,
 6.626322324322667e-05,
 7.400207326655077e-05,
 0.00024383090979910766,
 2.722088793119217e-05,
 0.00013206055778315035,
 0.00018037378270171863,
 8.137475356300899e-05,
 0.00012795005808968087,
 5.154098812260196e-06,
 4.382782525866487e-05,
 0.00010969910761701863,
 5.263898963298394e-05,
 1.433339682375809e-05,
 2.2047009563115623e-05,
 5.310900604848031e-05,
 2.541172374749983e-05,
 1.3965196874364793e-05,
 0.00014492790299462486,
 3.0766207139779155e-05,
 9.516697443967765e-05,
 1.613740135679798e-05,
 3.1991967506184725e-05,
 7.823148240055931e-06,
 0.0002063657914308923,
 6.147337620584107e-05,
 8.657030156504383e-06,
 8.553819957669372e-06,
 2.912486813735856e-05,
 2.2289915807547272e-05,
 0.0001604317797566549,
 1.9756453476415332e-05,
 5.463373987257402e-06,
 2.013916527849794e-05,
 3.516915289319902e-05,
 0.000105032012413107,
 4.9690512553882875e-05,
 1.864805495806481e-05,
 2.654110421928058e-05,
 6.371659355988789e-06,
 2.062568762058505e-05,
 6.519145167305671e-05,
 5.2738210161832614e-05,
 8.150810889779586e-05,
 9.496591323273855e-06,
 0.00010613450926433392,
 6.617318773301031e-05,
 5.3843579532657174e-05,
 3.646097368854544e-05,
 6.86755082168289e-05,
 0.00017800385506297654,
 4.878303826406915e-05,
 3.215075278834427e-05,
 3.9565070979948114e-05,
 4.452834251613551e-05,
 0.0031253072534756445,
 1.8221690338513795e-05,
 4.7544305419559805e-05,
 8.410666608205478e-05,
 6.773180174290897e-05,
 6.47289798094195e-05,
 3.254501608344242e-05,
 2.0460708506136122e-05,
 1.160575480475132e-05,
 0.0004811724019280602,
 4.293980912320677e-05,
 3.022127356306276e-05,
 6.018056037773068e-05,
 5.127792727891103e-05,
 0.0003261673774849992,
 0.002134144458187561,
 6.600778742476558e-05,
 2.081244856991239e-05,
 3.209731146425096e-05,
 1.1279826958346239e-05,
 0.00016451536299058389,
 8.260712382661443e-05,
 1.7807447560250356e-05,
 0.00024783071329313164,
 4.610696653923845e-05,
 4.36292546123644e-05,
 2.9100913508791275e-05,
 0.00011523979330679645,
 0.0001230403069305942,
 5.259854155835616e-05,
 8.069154096350121e-05,
 1.549651370033277e-05,
 2.4445213143786696e-05,
 0.00016091561359337224,
 1.4319427331537536e-05,
 0.0002083161017113172,
 0.0003203126045829955,
 4.406112003078736e-05,
 6.904510277886887e-05,
 0.00025746227644790913,
 2.508327386891619e-05,
 1.8564542722491335e-05,
 5.879174537772657e-05,
 5.036436552368794e-05,
 4.636052584897418e-05,
 5.3456937426567474e-05,
 4.864969503543731e-05,
 0.00022607445949617786,
 0.00011123559916396565,
 0.00015531298903686478,
 0.0003456703750334517,
 6.383258684413116e-05,
 2.8011109106646356e-05,
 2.4959337220110356e-05,
 4.8224037427344574e-05,
 0.00013900321330561903,
 7.404216691228009e-05,
 8.001092342772089e-05,
 1.8272483833120165e-05,
 5.558792036111745e-05,
 0.0004294811609141009,
 4.628060929766249e-05,
 0.00010354629539773614,
 1.0449894627782104e-05,
 1.3178876664356353e-05,
 1.8129149986066273e-05,
 0.00029118512213513584,
 7.625304214764883e-05,
 0.0001375569110025433,
 7.239500295397132e-06,
 3.9949996525619225e-05,
 0.00011009991252356187,
 0.0018156079079492263,
 7.822887105908269e-06,
 0.0001504211502866735,
 3.173528972967511e-05,
 8.419615053159861e-05,
 1.830270523875885e-05,
 0.00015537070993603265,
 1.1985923057144937e-05,
 2.3759781618400757e-05,
 3.256835928298903e-05,
 2.3555739640200375e-05,
 8.022173552650476e-05,
 2.0306528739531794e-05,
 3.2311689793081733e-05,
 6.651729221885976e-06,
 8.757380849322186e-05,
 3.240400939473155e-06,
 0.00010345703552372525,
 0.00019630455028571336,
 1.4594152985731797e-05,
 8.516047500614181e-06,
 3.807461867968151e-05,
 9.578547496597397e-05,
 1.3699467413613262e-05,
 7.299838487150262e-05,
 5.266968998669282e-05,
 0.00011746855161194925,
 0.00046042854322957203,
 1.491166330117901e-05,
 7.537981119606454e-05,
 3.238753156305084e-05,
 6.849556804990778e-06,
 0.00014786786699933616,
 8.193268676882318e-05,
 3.594107898212849e-05,
 7.605324585594893e-06,
 1.0429528906752015e-05,
 8.529060915564185e-05,
 6.542153236704855e-05,
 8.170168764356492e-06,
 2.863628416565714e-05,
 1.4597844004105507e-05,
 6.150730014058065e-05,
 4.864476476252236e-05,
 3.1539055520190026e-05,
 5.681564546010953e-05,
 3.603778499047045e-05,
 0.00034251910296125167,
 3.5417560771032884e-05,
 0.00020085713245699546,
 1.5990911482367652e-05,
 0.00010687473100790309,
 2.247319603076369e-05,
 0.00011125072475173304,
 1.654440756808006e-05,
 1.37182873205325e-05,
 1.9152956072181204e-05,
 1.7699002140741937e-05,
 0.0004275280921807329,
 4.016092188864654e-05,
 0.000812052268556426,
 2.496512687742711e-05,
 2.5290864742451063e-05,
 4.44769577556884e-05,
 0.00014945567201804776,
 0.00016593531451608579,
 0.00021241043888923166,
 2.690074257940157e-05,
 9.00764893026847e-06,
 2.659298102321787e-05,
 0.0006054521375919328,
 5.1085400232633395e-05,
 2.7488227459162838e-05,
 5.9639660389664675e-05,
 5.666766469912823e-06,
 1.2644578886160098e-05,
 2.937741652356075e-05,
 1.3581415286169556e-05,
 6.0321616565221886e-05,
 7.358253032498482e-06,
 0.00165060001430733,
 8.233698479898927e-05,
 5.940807080270148e-05,
 0.00048014957811353163,
 4.308861876364462e-05,
 0.0006002176697852926,
 0.0002792777266406046,
 1.3799317487196046e-05,
 0.00018386237215176234,
 0.00015717657255182228,
 3.6210390021116214e-05,
 1.815321276940326e-05,
 3.715633779418012e-05,
 0.00011587442825614204,
 0.0001598290496047794,
 9.661084830035574e-05,
 2.239708541534327e-05,
 6.274988523539403e-05,
 1.8494310338903768e-05,
 8.172324715840343e-05,
 0.00017256152439659755,
 2.6991138954048883e-05,
 0.00016147156659940604,
 7.363803014332562e-05,
 4.6185002634281464e-05,
 2.3582549423585816e-05,
 1.498721332852387e-05,
 4.880306970069128e-05,
 3.655423639125082e-05,
 0.0007826834697235445,
 3.0639345424985106e-05,
 4.241359102147614e-05,
 2.6481389694457706e-05,
 0.00014550873998729318,
 8.419530424055837e-05,
 2.9844197594863104e-05,
 1.191062909594784e-05,
 1.4681414010495429e-05,
 0.0003133362470381011,
 2.111543528725085e-05,
 3.378546792573559e-05,
 1.5242534174085574e-05,
 0.00016176081767079576,
 1.6583331573798224e-05,
 0.0001957562485027851,
 1.4366504134613447e-05,
 1.4202401460158654e-05,
 1.4917561952193747e-05,
 1.2788439556719524e-05,
 2.037534653086751e-05,
 1.3072477419842054e-05,
 7.912367264759876e-05,
 6.992724609285605e-05,
 5.958728563209486e-05,
 1.1410520901777498e-05,
 0.0015143302393466065,
 5.651579751269882e-06,
 3.185846318213287e-05,
 0.00010912464414521195,
 2.245748988991343e-05,
 2.1429976688120067e-05,
 2.764526317217648e-05,
 0.00015781373335467695,
 1.9041283917576708e-05,
 9.30560494174426e-06,
 2.980976266958563e-05,
 0.00017321321396169731,
 1.9348753902746612e-05,
 6.9204068102917e-05,
 7.080517082196238e-05,
 1.9618966369008396e-05,
 1.939323259178075e-05,
 0.00027991627454229033,
 0.0007870188024648564,
 3.7710384074831e-05,
 0.00015995318924839937,
 1.6761777144751744e-05,
 4.5593564708314556e-05,
 0.00010128063721939569,
 1.0039606593770256e-05,
 0.00024410521405457037,
 2.2264202777944337e-05,
 3.481040493748567e-05,
 2.0569383481338876e-05,
 5.6071671473217116e-05,
 2.5832450397408316e-05,
 0.00017657074840025575,
 7.823364699498105e-05,
 2.3188873501358314e-05,
 5.7520201230947255e-05,
 1.9289871606231005e-05,
 8.714560568221417e-05,
 3.607713636598383e-05,
 8.356056382267947e-06,
 2.1784482525250794e-05,
 1.075929647899091e-05,
 0.00013516334417662247,
 1.8801358234912578e-05,
 1.703882674216305e-05,
 0.00010284017167036279,
 0.00023294334851669082,
 0.0002323779992296665,
 8.308413189633419e-05,
 3.145773686068067e-05,
 0.0001628055996377357,
 7.645788012925998e-06,
 0.00011412874679353846,
 5.252696096824245e-05,
 2.4478750458693518e-05,
 3.0791730000934624e-05,
 0.0004762639082649116,
 6.204171888961519e-05,
 4.0279830967610536e-05,
 5.3315661252473744e-05,
 0.0001628129420407195,
 1.5463737706816374e-05,
 4.670593157702178e-05,
 6.752755616187035e-05,
 6.704030303684584e-05,
 7.313411511148142e-05,
 1.8251986503835318e-05,
 0.0028041819648359097,
 9.95580356428905e-05,
 4.709326229480095e-05,
 0.00011755686283793914,
 0.00010616174194132996,
 4.393788631201623e-05,
 5.7600345287290646e-05,
 0.00013350760791854102,
 9.144464755951529e-05,
 0.0005051153171518201,
 0.0001374285795742898,
 2.4595077823726746e-05,
 0.0005779494423971695,
 4.214395063604381e-05,
 1.4241664531803352e-05,
 1.7369461836254375e-05,
 7.385592044113838e-05,
 5.4498509469869794e-05,
 0.0001380137673088039,
 7.960304838405847e-05,
 3.4221224217089684e-06,
 3.667308912232957e-05,
 4.962847712877203e-05,
 3.9297711659786236e-05,
 0.00011124974429663052,
 2.8764526532910575e-05,
 0.00011686683852400232,
 0.00044028084471188175,
 8.159736738939366e-05,
 5.126735546468976e-05,
 7.680609787416168e-05,
 8.404913286550228e-06,
 0.00015495536437439838,
 6.093673991354703e-06,
 1.2709742947976594e-05,
 4.79800823715799e-05,
 2.2969309028096335e-05,
 0.00026677273089811517,
 4.054767867010126e-05,
 1.419567079982766e-05,
 0.00014941336058327514,
 6.340093997623866e-05,
 9.549412950307317e-05,
 3.762813860616128e-05,
 0.00010427668443263916,
 1.1066282360204581e-05,
 5.661535103719114e-05,
 0.00012379569021457032,
 2.9895668360124248e-05,
 0.0004589810454718426,
 3.2723929614982437e-05,
 3.4221224217089684e-06,
 0.00023368829489744787,
 1.5188079629912321e-05,
 4.874250113492839e-05,
 0.000317736351292891,
 4.599971658689701e-05,
 0.00017524879691748467,
 1.4474635551776575e-05,
 0.00016842412108707946,
 1.9007140101524233e-05,
 3.8671233559083826e-05,
 8.499059323075758e-06,
 1.2873869690210492e-05,
 7.685312807970309e-06,
 1.458091863916177e-05,
 0.0002025163880629401,
 3.585089272707015e-05,
 1.0883094025146143e-05,
 4.803939875395376e-05,
 5.0148150091418e-05,
 0.0003536373290299589,
 0.0011216798616645244,
 9.638078501595996e-05,
 3.804598036863723e-05,
 5.223837636197011e-06,
 6.776142051509912e-06,
 5.331248538786717e-06,
 6.215260538106782e-05,
 4.5130163957096336e-05,
 9.004812475190229e-06,
 6.1890258709971e-06,
 3.513795060222353e-05,
 0.0008081578479942738,
 3.627951894228776e-05,
 0.0002448142740526246,
 1.385135483056917e-05,
 0.00011854805854122768,
 5.927782469209581e-05,
 6.549720083138979e-06,
 0.0002621813832181451,
 2.3636181505405763e-05,
 9.18712531902739e-06,
 1.9316850879274184e-05,
 1.8456069181889544e-05,
 0.00016929553411819002,
 1.3410608054407154e-05,
 4.711375234264038e-06,
 3.112942983570424e-05,
 7.678067715530734e-05,
 7.303510508383701e-05,
 6.938688133236325e-05,
 0.00013039470210852,
 3.4221224217089684e-06,
 8.68933055277283e-05,
 4.801240951893252e-05,
 1.9563020926178795e-05,
 9.591445162434552e-06,
 5.724040084780532e-06,
 1.9450757036239416e-05,
 0.0001502363747841074,
 0.00019492268891871866,
 1.4948731352903768e-05,
 2.2142830403088725e-05,
 2.022137185928461e-05,
 8.006137111508802e-05,
 1.443439125192533e-05,
 1.326765392254957e-05,
 4.8062261321552764e-05,
 1.2892493024632043e-05,
 4.9527505688964236e-05,
 9.03085670707795e-05,
 0.00022846056305181645,
 2.2647456010939606e-05,
 9.38898734427713e-06,
 9.247313162774427e-06,
 1.0944429835484613e-05,
 5.130708082466919e-05,
 1.6945540730375824e-05,
 5.587296039008318e-06,
 2.5956617469440003e-05,
 1.9017266887295813e-05,
 2.2849904952109103e-05,
 1.8397535248900825e-05,
 1.7065648186166443e-05,
 8.595058142006022e-05,
 9.995742105566055e-06,
 4.3161206682326875e-05,
 5.2143366059247623e-05,
 1.7317577399013822e-05,
 0.00019121864894679685,
 4.2296037884235465e-05,
 6.007811838785545e-05,
 1.805567259202627e-05,
 8.478658060883287e-06,
 3.839902465815103e-05,
 8.619539957580961e-06,
 1.716286144165899e-05,
 1.0071642943119152e-05,
 2.511006754982435e-05,
 0.0001464449226951994,
 1.3208650227296537e-05,
 1.910947366938115e-05,
 2.935243523937808e-05,
 7.280126058336326e-06,
 0.00016090399493519543,
 5.3055126744256826e-05,
 7.557617272194724e-06,
 0.00014824520350061702,
 1.693435666057113e-05,
 0.00012414163292538588,
 2.9891484030106305e-05,
 5.792809604772306e-06,
 2.264993462156409e-05,
 0.00010544301268912361,
 6.615288954271302e-05,

Finding all connected components, or clusters, of the graph, and the largest cluster

In [22]:
top10_eG_clusters = top10_eG.components()
print("Num of Clusters:", len(top10_eG_clusters))
top10_eG_giant_cluster = top10_eG_clusters.giant()
print("Num of Vertices in Largest cluster:", top10_eG_giant_cluster.vcount())

Num of Clusters: 683
Num of Vertices in Largest cluster: 62302

In [13]:
top10_eG.degree_distribution()

In [14]:
top10_eG.omega() #size of largest clique

20

In [13]:
top5_eG = igraph.Graph.TupleList(top5_edges.itertuples(index=False), directed=False, weights=False)
top5_eG.summary()

'IGRAPH UN-- 57260 570846 -- \n+ attr: name (v)'

In [14]:
top5_eG_edges = [edge.tuple for edge in top5_eG.es]

### Creating a graph between users and locations they have visited

In [26]:
user_locids = totalCheckins[['user', 'locid']]
user_locids['locid'] = user_locids['locid'].apply(lambda x: 'L' + str(x))
user_locids

C:\Users\Ayan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           user     locid
0             0    L22847
1             0   L420315
2             0   L316637
3             0    L16516
4             0  L5535878
...         ...       ...
6442887  196578   L906885
6442888  196578   L965121
6442889  196578  L1174322
6442890  196585   L471724
6442891  196585  L4555073

[6442892 rows x 2 columns]

In [27]:
user_loc_G = igraph.Graph.TupleList(user_locids.itertuples(index=False), directed=False, weights=False)
user_loc_G.summary()

'IGRAPH UN-- 1388061 6442892 -- \n+ attr: name (v)'

### Creating df of all users that visited top10 locations

In [41]:
user_locid = totalCheckins[['user', 'locid']]
top10_user_locid = user_locid[user_locid.locid.isin(places_top10['locid'])]

In [42]:
top10_user_locid_groups = top10_user_locid.groupby('locid')['user'].apply(list).reset_index(name='users')
top10_user_locid_groups

        locid                                              users
0        8938  [0, 65, 71, 107, 107, 107, 228, 256, 256, 256,...
1        8947  [24, 99, 119, 124, 130, 130, 130, 130, 130, 13...
2        8956  [138, 138, 138, 138, 138, 350, 486, 559, 560, ...
3        8961  [350, 350, 560, 1759, 2274, 2274, 2274, 2274, ...
4        8964  [0, 71, 75, 107, 107, 107, 107, 107, 107, 107,...
...       ...                                                ...
9995  4997564  [32, 41, 212, 225, 242, 252, 267, 267, 342, 35...
9996  4998006  [41, 97, 112, 212, 225, 242, 350, 401, 438, 47...
9997  4998370  [41, 97, 180, 212, 225, 225, 242, 350, 401, 47...
9998  5341244  [557, 3567, 4011, 4011, 4580, 6609, 7492, 7532...
9999  5535878  [0, 7, 29, 31, 31, 41, 131, 212, 267, 323, 387...

[10000 rows x 2 columns]

In [ ]:
#takes time to run but gets all combinations of users in each list that we can make edges for visitng same location
top10_user_locid_combo = top10_user_locid_groups['users'].apply(lambda x: list(itertools.combinations(x, 2))).reset_index(name='user_combos')
top10_user_locid_combo

### Graphs of Cities and Countries of Top 10K Locations

For this portion of our graph analaysis, we will be creating graphs of the cities and countries of the top 10,000 locations

* we will connect locations based on the number of times users who have visited one place visit another
* for example let's observe user 1003
* they have visited Stockholm, Bloomington and Minneapolis
    * this means that each city has a connection to each other from the user

In [146]:
top10_checkins_desc[top10_checkins_desc['user'] == 1003][['user', 'locid', 'city', 'city_id', 'country', 'country_id']]

,user,locid,city,city_id,country,country_id
233445,1003,19542,Stockholm,9,United States of America,0
529642,1003,10202,Bloomington,83,United States of America,0
663573,1003,99066,Minneapolis,265,United States of America,0

**Goal**

* we will create a weighted graph of connected cities, a user's connection between two cities will count as one weighted point for each city
* we will do the same weighted graph for countries

**Cities**

In [145]:
cities_visited = top10_checkins_desc.groupby('user')['city_id'].apply(list).apply(dict.fromkeys).apply(list)
cities_visited

user
0         [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
2                           [9, 10, 16, 17, 18, 19, 20, 21]
4                       [9, 10, 22, 23, 24, 25, 26, 27, 28]
5                                            [0, 1, 29, 30]
7                                                   [0, 31]
                                ...
196508                                                [191]
196524                                                  [2]
196528                                           [267, 538]
196541                                                [201]
196561                                                [533]
Name: city_id, Length: 69323, dtype: object

In [147]:
from collections import Counter

visits = []

for user in cities_visited:
    visits.extend(list(itertools.combinations(user, 2)))

In [174]:
visits[-10:]

[(22, 519),
 (301, 519),
 (134, 832),
 (134, 1083),
 (832, 1083),
 (189, 204),
 (115, 274),
 (115, 449),
 (274, 449),
 (267, 538)]

In [180]:
top10_cities_g = Graph()

# this is the number of vertices in the system
# add 1 because vertices start at zero
v = top10_checkins_desc['city_id'].max()
top10_cities_g.add_vertices(v + 1)
top10_cities_g.add_edges(visits)

In [182]:
summary(top10_cities_g)

IGRAPH U--- 1529 723950 --

In [ ]:
top10_cities_g

In [185]:
top10_cities_g_PR = top10_cities_g.pagerank()
print(max(top10_cities_g_PR))
print(top10_cities_g_PR.index(max(top10_cities_g_PR)))

0.034297258567479734
9

In [203]:
list(top10_checkins_desc[top10_checkins_desc['city_id'] == 9]['city'])[0]

'Stockholm'

In [216]:
top10_checkins_desc.city.value_counts()

Austin           204672
Stockholm        119977
San Francisco     62111
Göteborg          34150
Dallas            28667
                  ...
Katwijk              56
Atlantic City        56
Toronto              56
Hoboken              56
Schortens            56
Name: city, Length: 1529, dtype: int64

**Countries**

In [205]:
countries_visited = top10_checkins_desc.groupby('user')['country_id'].apply(list).apply(dict.fromkeys).apply(list)
cities_visited

user
0         [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
2                           [9, 10, 16, 17, 18, 19, 20, 21]
4                       [9, 10, 22, 23, 24, 25, 26, 27, 28]
5                                            [0, 1, 29, 30]
7                                                   [0, 31]
                                ...
196508                                                [191]
196524                                                  [2]
196528                                           [267, 538]
196541                                                [201]
196561                                                [533]
Name: city_id, Length: 69323, dtype: object

In [206]:
country_visits = []

for user in countries_visited:
    country_visits.extend(list(itertools.combinations(user, 2)))

In [207]:
country_visits[:10]

[(0, 1),
 (0, 2),
 (1, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 3),
 (0, 2),
 (3, 2),
 (0, 6)]

In [208]:
top10_countries_g = Graph()

# this is the number of vertices in the system
# add 1 because vertices start at zero
v = top10_checkins_desc['country_id'].max()
top10_countries_g.add_vertices(v + 1)
top10_countries_g.add_edges(country_visits)

In [211]:
summary(top10_countries_g)

IGRAPH U--- 53 14363 --

In [212]:
top10_countries_g_PR = top10_countries_g.pagerank()
print(max(top10_countries_g_PR))
print(top10_countries_g_PR.index(max(top10_countries_g_PR)))

0.04225539187193717
5

In [213]:
list(top10_checkins_desc[top10_checkins_desc['country_id'] == 5]['country'])[0]

'France'

In [215]:
top10_checkins_desc.country.value_counts()

United States of America       763696
Sverige                        249147
Deutschland                     47577
United Kingdom                  39537
Norge                           30463
Canada                          13504
Nederland                       12861
Saudi Arabia / السعودية         11374
België - Belgique - Belgien     10958
日本 (Japan)                       9896
ประเทศไทย                        9527
Switzerland                      7397
Australia                        6612
France                           4377
Danmark                          3841
Česká republika                  3176
Österreich                       2830
Portugal                         2736
Italia                           2687
Singapore                        2191
Malaysia                         2048
España                           1761
China 中国                         1532
Magyarország                     1215
Brasil                           1135
Philippines                       969
Suomi                             885
Indonesia                         720
United Arab Emirates              528
대한민국                              505
Polska                            478
South Africa                      445
Luxembourg                        430
India                             374
Venezuela                         270
Việt Nam                          258
Ireland                           248
Taiwan                            242
México                            166
Hrvatska                          155
Россия                            146
New Zealand                       142
Latvija                           139
ישראל                             132
                                  116
România                           114
Jordan / الأُرْدُن                107
Ελλάδα                             75
Slovenija                          70
Slovensko                          68
Türkiye                            67
Chile                              61
قطر Qatar                          57
Name: country, dtype: int64

### Grouping checkins by time and location

In [38]:
time_loc = totalCheckins[['time', 'user', 'locid']]
time_loc = time_loc[time_loc.locid.isin(places_top10['locid'])]
time_loc['time'] = time_loc['time'].dt.floor('30T') #rounding timestamp to nearest 30 minutes
time_loc.groupby(['locid', 'time']).agg(['count'])

                             user
                            count
locid   time
8938    2009-08-29 02:00:00     1
        2009-09-26 13:00:00     1
        2009-09-27 01:30:00     1
        2009-09-27 23:00:00     1
        2009-10-06 22:00:00     1
...                           ...
5535878 2010-10-17 19:30:00     2
        2010-10-17 20:30:00     3
        2010-10-17 21:00:00     2
        2010-10-17 21:30:00     1
        2010-10-17 22:00:00     1

[1143358 rows x 1 columns]

The following shows a list of users that where at a location at the same time

In [19]:
time_loc5 = totalCheckins[['time', 'user', 'locid']]
time_loc5 = time_loc5[time_loc5.locid.isin(places_top5['locid'])]
time_loc5['time'] = time_loc5['time'].dt.floor('60T') #rounding timestamp to nearest hour
time_loc5_groups = time_loc5.groupby(['locid', 'time'])['user'].apply(list).reset_index(name='users')
time_loc5_groups = time_loc5_groups[time_loc5_groups['users'].apply(lambda x: len(x) > 2)]
time_loc5_groups

          locid                time                                 users
161        8947 2009-11-17 17:00:00                       [285, 487, 518]
195        8947 2009-12-16 21:00:00                     [494, 494, 23349]
229        8947 2010-01-27 17:00:00                  [130, 28602, 125329]
283        8947 2010-03-06 00:00:00                [6927, 125329, 127250]
349        8947 2010-04-22 18:00:00                    [519, 5461, 11637]
...         ...                 ...                                   ...
788693  5535878 2010-10-17 17:00:00  [33053, 33711, 70217, 84630, 155582]
788694  5535878 2010-10-17 18:00:00       [716, 4726, 6701, 21757, 50446]
788695  5535878 2010-10-17 19:00:00                 [5711, 10803, 103076]
788696  5535878 2010-10-17 20:00:00                   [3155, 4229, 11238]
788697  5535878 2010-10-17 21:00:00                        [7, 519, 8847]

[18507 rows x 3 columns]

In [20]:
time_loc5_groups_combo = time_loc5_groups['users'].apply(lambda x: list(itertools.combinations(x, 2))).reset_index(name='user_combos')
time_loc5_groups_combo

        index                                        user_combos
0         161               [(285, 487), (285, 518), (487, 518)]
1         195           [(494, 494), (494, 23349), (494, 23349)]
2         229     [(130, 28602), (130, 125329), (28602, 125329)]
3         283  [(6927, 125329), (6927, 127250), (125329, 1272...
4         349         [(519, 5461), (519, 11637), (5461, 11637)]
...       ...                                                ...
18502  788693  [(33053, 33711), (33053, 70217), (33053, 84630...
18503  788694  [(716, 4726), (716, 6701), (716, 21757), (716,...
18504  788695   [(5711, 10803), (5711, 103076), (10803, 103076)]
18505  788696       [(3155, 4229), (3155, 11238), (4229, 11238)]
18506  788697                 [(7, 519), (7, 8847), (519, 8847)]

[18507 rows x 2 columns]

In [24]:
time_loc5_groups_combo[:10]['user_combos'].apply(lambda x: sum(el in top5_eG_edges for el in x)).reset_index(name='friends')

   index  friends
0      0        0
1      1        0
2      2        0
3      3        0
4      4        0
5      5        1
6      6        0
7      7        0
8      8        0
9      9        0

Finding the popular time for people to visit a particular location

In [32]:
time_loc['time'] = time_loc['time'].dt.time
time_loc.groupby(['locid', 'time']).agg(['count'])

                  user
                 count
locid   time
8938    00:00:00     2
        00:30:00     4
        01:00:00     2
        01:30:00     2
        02:00:00     1
...                ...
5535878 21:00:00     2
        21:30:00     1
        22:00:00     2
        23:00:00     1
        23:30:00     1

[264061 rows x 1 columns]

The following shows the most common time for people to visit that location as well as what user visited that location the most

In [34]:
time_loc.groupby(['locid']).agg(lambda x:x.value_counts().index[0])

             time   user
locid
8938     18:00:00    488
8947     19:30:00    518
8956     19:30:00    138
8961     17:00:00   4678
8964     13:00:00    406
...           ...    ...
4997564  18:00:00  25344
4998006  00:30:00    956
4998370  19:00:00  16356
5341244  23:00:00  91430
5535878  18:30:00    956

[10000 rows x 2 columns]