# CSC 481 Project 

Ayan Patel, Robert Hensley

* [Gowalla Dataset](https://snap.stanford.edu/data/loc-gowalla.html)



---

In [5]:
# !pip install snap-stanford
!pip install python-igraph
!pip install geopy

Requirement already satisfied: python-igraph in c:\users\ayan\anaconda3\lib\site-packages (0.8.2)
Requirement already satisfied: texttable>=1.6.2 in c:\users\ayan\anaconda3\lib\site-packages (from python-igraph) (1.6.2)
Collecting geopy
  Downloading https://files.pythonhosted.org/packages/ab/97/25def417bf5db4cc6b89b47a56961b893d4ee4fec0c335f5b9476a8ff153/geopy-1.22.0-py2.py3-none-any.whl (113kB)
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.22.0

In [1]:
# import snap ???
import igraph
from igraph import *

import pandas as pd

import time
from datetime import datetime

import geopy
from geopy.geocoders import Nominatim

## Loading Data

* this can takes 3 - 5 minutes to fully load all dataframes

In [2]:
data_path = 'data/'

# creating dataframes
edges = pd.read_csv(data_path + 'Gowalla_edges.txt', sep='\t', names=['u1', 'u2'])
totalCheckins = pd.read_csv(data_path + 'Gowalla_totalCheckins.txt', sep='\t',
                            names=['user', 'time', 'lat', 'long', 'locid'])

totalCheckins['time'] = totalCheckins['time'].map(lambda x: datetime.strptime(x, "%Y-%m-%dT%H:%M:%SZ"))

In [4]:
totalCheckins

           user                time        lat       long    locid
0             0 2010-10-19 23:55:27  30.235909 -97.795140    22847
1             0 2010-10-18 22:17:43  30.269103 -97.749395   420315
2             0 2010-10-17 23:42:03  30.255731 -97.763386   316637
3             0 2010-10-17 19:26:05  30.263418 -97.757597    16516
4             0 2010-10-16 18:50:42  30.274292 -97.740523  5535878
...         ...                 ...        ...        ...      ...
6442887  196578 2010-06-11 13:32:26  51.742988  -0.488065   906885
6442888  196578 2010-06-11 13:26:45  51.746492  -0.490780   965121
6442889  196578 2010-06-11 13:26:34  51.741916  -0.496729  1174322
6442890  196585 2010-10-08 21:01:49  50.105516   8.571525   471724
6442891  196585 2010-10-07 17:39:18  50.027812   8.785098  4555073

[6442892 rows x 5 columns]

In [5]:
edges

             u1      u2
0             0       1
1             0       2
2             0       3
3             0       4
4             0       5
...         ...     ...
1900649  196586  196539
1900650  196587  196540
1900651  196588  196540
1900652  196589  196547
1900653  196590  196561

[1900654 rows x 2 columns]

### User Notes

* userCheckins appears to cover only 1245 users
  * this makes me wonder if the userIDs match the edges userIDs (most likely not)
  * therefore it might be better to create our own graphs based off the checkin data and ignore the edges data
    * this means we cannot make the assumptions that two users are friends 
    * we should test to see if our predicted meetups (same location at around the same time) match the meetups in the edges file
  * also notice that user ID's appear to range from 0 - 1440, but there are only 1245 rows, implying some missing users


* we can get an idea of where the users are generally located by gather the mean of their latitude on longitudinal locations
* other user attributes to collect:
  * earliest time checked in
  * latest time checked in 
    * this shows the general timespan the user has been on the app

In [9]:
totalCheckins['user'].max()

196585

In [10]:
users = totalCheckins.groupby('user').mean()[['lat', 'long']]
users

              lat        long
user
0       33.558308  -97.894601
1       47.204338    4.499703
2       35.659617 -120.016716
4       36.800202 -124.714027
5       32.290069  -96.123008
...           ...         ...
196544 -25.433409  -49.281533
196561  37.528650 -122.004623
196577  51.514905   -0.081277
196578  51.744557   -0.478051
196585  50.066664    8.678312

[107092 rows x 2 columns]

* look at how many checkins the average user makes
  * this seems almost too big?
  * I assume this is a collection of users classified as very active on Gowalla

In [11]:
# average amounts of visits per user
totalCheckins.shape[0] / users.shape[0]

60.16221566503567

### Place Notes

* same grouping process as users
* for the scope of this project, we might want to only focus on places with like 5 or more visits

In [3]:
places = totalCheckins.groupby('locid').agg(['mean', 'count'])[['lat', 'long']]

places.columns = ['lat_mean', 'count_drop', 'long_mean', 'visits']
places = places.drop(columns = ['count_drop'])

In [4]:
places.sort_values('visits')

          lat_mean   long_mean  visits
locid
5977757  13.447479  101.019928       1
951900   50.718459   -1.877455       1
951901   41.543670  -83.582070       1
3733285  50.084312   18.212821       1
3733273  33.621132 -112.185371       1
...            ...         ...     ...
58725    59.650051   17.932262    3476
10259    32.897462  -97.040348    4083
9410     30.201557  -97.667127    4713
19542    37.616356 -122.386150    5662
55033    59.330158   18.058079    5811

[1280969 rows x 3 columns]

#### Geolocation Data (geopy)

* our queries use the [Nominatim API](https://nominatim.org/release-docs/develop/api/Overview/) by default

Let's try to find the country all this data is from. We will query location information using [geopy](https://geopy.readthedocs.io/en/stable/). Below is a sample query.

In [14]:
from geopy.geocoders import Nominatim

geolocator = Nominatim()

location = geolocator.reverse("39.052318, -94.607499")

C:\Users\Ayan\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.22.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
location.raw

{'place_id': 251278814,
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 552493654,
 'lat': '39.052405',
 'lon': '-94.607436',
 'display_name': '4154, State Line Road, Country Club Plaza, Kansas City, Wyandotte County, Missouri, 66103, United States of America',
 'address': {'house_number': '4154',
  'road': 'State Line Road',
  'suburb': 'Country Club Plaza',
  'city': 'Kansas City',
  'county': 'Wyandotte County',
  'state': 'Missouri',
  'postcode': '66103',
  'country': 'United States of America',
  'country_code': 'us'},
 'boundingbox': ['39.052355', '39.052455', '-94.607486', '-94.607386']}

In [16]:
location.raw['address']['country']

'United States of America'

This gives the following important data:
* name 'address > tourism'
* city 'address > city'
* country 'address > country'

However this data lacks:
* context of the location (is it a pub, park, etc.)
    * we can get this information by querying OpenStreetMap using it's place_id, 

Given the limited time for this project, I feel like city and country information should be informative enough.

**Naming Conventions**

* subregions vary between different countries 
    * i.e. states and counties are not found in Germany, boroughs are found in Germany but not the US
    * this means the easiest thing to analyze right now are places < cities < countries
    * this problem can be resolved by focusing on one Country at a time
* the above problem unfortunately also occurs for city names
    * citities can also be called "towns, villages, municipalities, etc.)

In [20]:
location.raw

place = {"osm_place_id"}

{'place_id': 251278814,
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 552493654,
 'lat': '39.052405',
 'lon': '-94.607436',
 'display_name': '4154, State Line Road, Country Club Plaza, Kansas City, Wyandotte County, Missouri, 66103, United States of America',
 'address': {'house_number': '4154',
  'road': 'State Line Road',
  'suburb': 'Country Club Plaza',
  'city': 'Kansas City',
  'county': 'Wyandotte County',
  'state': 'Missouri',
  'postcode': '66103',
  'country': 'United States of America',
  'country_code': 'us'},
 'boundingbox': ['39.052355', '39.052455', '-94.607486', '-94.607386']}

In [5]:
places

          lat_mean   long_mean  visits
locid
8904     39.052318  -94.607499      12
8932     32.927662  -97.254356      16
8936     39.053318  -94.591995      12
8938     39.052824  -94.590311     130
8947     37.331880 -122.029631     570
...            ...         ...     ...
5975123  38.020788   -7.874773       1
5976149  12.939186  100.882264       1
5976173  13.668828  100.644486       1
5977211   4.888548  114.838631       1
5977757  13.447479  101.019928       1

[1280969 rows x 3 columns]

In [103]:
location = geolocator.reverse("39.052318, -94.607499")

In [105]:
location.raw

{'place_id': 251278814,
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 552493654,
 'lat': '39.052405',
 'lon': '-94.607436',
 'display_name': '4154, State Line Road, Country Club Plaza, Kansas City, Wyandotte County, Missouri, 66103, United States of America',
 'address': {'house_number': '4154',
  'road': 'State Line Road',
  'suburb': 'Country Club Plaza',
  'city': 'Kansas City',
  'county': 'Wyandotte County',
  'state': 'Missouri',
  'postcode': '66103',
  'country': 'United States of America',
  'country_code': 'us'},
 'boundingbox': ['39.052355', '39.052455', '-94.607486', '-94.607386']}

In [ ]:
from geopy.geocoders import Nominatim

geolocator = Nominatim()

sorted_places = places.sort_values('visits', ascending=False).reset_index()

In [6]:
sorted_places = places.sort_values('visits', ascending=False).reset_index()
sorted_places

           locid   lat_mean   long_mean  visits
0          55033  59.330158   18.058079    5811
1          19542  37.616356 -122.386150    5662
2           9410  30.201557  -97.667127    4713
3          10259  32.897462  -97.040348    4083
4          58725  59.650051   17.932262    3476
...          ...        ...         ...     ...
1280964  1071645   8.038478   98.815826       1
1280965  1071647  42.553000  -83.175745       1
1280966  1071650  34.614540  -92.498446       1
1280967  1071652  29.756889  -95.365663       1
1280968  5977757  13.447479  101.019928       1

[1280969 rows x 4 columns]

In [7]:
places_top10 = sorted_places[:10000]

places_top10

       locid   lat_mean   long_mean  visits
0      55033  59.330158   18.058079    5811
1      19542  37.616356 -122.386150    5662
2       9410  30.201557  -97.667127    4713
3      10259  32.897462  -97.040348    4083
4      58725  59.650051   17.932262    3476
...      ...        ...         ...     ...
9995  230547  36.005830 -115.084607      56
9996   45183  35.655814  -97.470548      56
9997  164356  48.101030   11.645453      56
9998  234171  63.825514   20.261439      56
9999  603750  41.807453  -72.827597      56

[10000 rows x 4 columns]

In [13]:
top10_checkins = totalCheckins[totalCheckins.locid.isin(places_top10['locid'])]
top10_checkins

           user                time        lat        long    locid
0             0 2010-10-19 23:55:27  30.235909  -97.795140    22847
1             0 2010-10-18 22:17:43  30.269103  -97.749395   420315
2             0 2010-10-17 23:42:03  30.255731  -97.763386   316637
3             0 2010-10-17 19:26:05  30.263418  -97.757597    16516
4             0 2010-10-16 18:50:42  30.274292  -97.740523  5535878
...         ...                 ...        ...         ...      ...
6442635  196528 2010-10-11 01:42:02  13.766876  100.570672   761001
6442643  196528 2010-10-04 11:55:05  13.766876  100.570672   761001
6442650  196528 2010-09-30 02:33:25  13.689897  100.748320    23519
6442698  196541 2010-09-24 11:26:52  51.496105   -0.171834    23876
6442771  196561 2010-10-03 03:35:24  37.599190 -122.068819   270202

[1250045 rows x 5 columns]

In [14]:
top10_edges = edges[edges.u1.isin(top10_checkins['user'])]
top10_edges = top10_edges[top10_edges.u2.isin(top10_checkins['user'])]
top10_edges

             u1      u2
1             0       2
3             0       4
4             0       5
6             0       7
7             0       8
...         ...     ...
1900428  196460  195795
1900446  196472  195869
1900474  196489  196024
1900485  196494  196033
1900533  196508  196109

[633948 rows x 2 columns]

In [ ]:
import json

location_json = {}
location_json['places'] = []

# choose place to start writing files
i = 1000
chunk = 1000
places_temp = sorted_places[i:]

for index, row in places_temp.iterrows():
    
    location = geolocator.reverse(str(row["lat_mean"]) + ", " + str(row["long_mean"])).raw
    
    location_json['places'].append({'locid' : row['locid'], 'osm_json' : location})
    
    if index % chunk == 0 and index != i:
        
        with open('data/json/' + str(index) + '.json', 'w') as outfile:
            json.dump(location_json, outfile)
        
        print(str(index) + ' index JSON written')
        
        location_json['places'] = []

1000 index JSON written

In [ ]:
    city = ''
    
    # cities
    try:
        city = location['address']['city']
    except:
        pass
    
    try:
        city = location['address']['town']
    except:
        pass
    
    try:
        city = location['address']['village']
    except:
        pass
    
    # skip entities with no city information
    if city == "":
        print("no city")
        print(location)
        pass
  
    location_append.append({
        'osm_place_id' : location['place_id'],
        'city' : city,
        'country' : location['address']['country'],
        'country_code' : location['address']['country_code']
    })

## Graph Representations

* having some issues importing Stanford Snap (conflicts with another library called snap)
* I'm going to try iGraph in the meantime

### Limitations

* the max userID will be the number of edges required in the graph (assumption)
* using the maximum number of nodes in the graph (196591) takes a long time to generate the graph
  * this I would assume makes the algorithms for these graphs tricky to run
  * I could also be adding the edges in an unefficient way (explore ways of generating graphs)
    * might be better to add edges in batches instead of one edge at a time (explore this)

#### Ways to set limits
* we can limit the groups to the first n number of users (example only nodes 0 - 1000)
  * however under the assumption that userIDs are added based on the time the user adds themselves to the network, then there will be a lot of graphs that aren't connected because they are in geographically seperate locations
* a better soltuion would be to take a group of n people in close proximety of one another
  * we could find the average latitude and longitude of a users and record this as the area they are generally in
  * we'll then randomly select a user and select the n amount of people closest to this user (ranking by the distance between their average locations)

In [6]:
edgesG = Graph()
total_edges = max(edges['u1'].max(), edges['u2'].max())
total_edges

196590

In [18]:
edgesG.add_vertices(total_edges)

In [0]:
# this takes too long; there's got to be a better way!

for i in range(len(edges)):
  edgesG.add_edge(edges.loc[i, "u1"], edges.loc[i, "u2"])

In [6]:
#Faster way to make graph from df tuples
eG = igraph.Graph.TupleList(edges.itertuples(index=False), directed=False, weights=False)
eG.summary()

'IGRAPH UN-- 196591 1900654 -- \n+ attr: name (v)'

In [7]:
#Finds degrees of each vertex and the max degree and its vertex - popularity
eG_degrees = eG.indegree()
print(max(eG_degrees))
eG_max_degree_index = eG_degrees.index(max(eG_degrees))
eG.vs[eG_max_degree_index]

29460

igraph.Vertex(<igraph.Graph object at 0x000001B08ABCAE58>, 307, {'name': 307})

In [8]:
eG.neighbors(eG_max_degree_index)

[0,
 0,
 1,
 1,
 2,
 2,
 3,
 3,
 5,
 5,
 8,
 8,
 9,
 9,
 10,
 10,
 11,
 11,
 12,
 12,
 14,
 14,
 17,
 17,
 18,
 18,
 20,
 20,
 21,
 21,
 22,
 22,
 24,
 24,
 30,
 30,
 35,
 35,
 37,
 37,
 39,
 39,
 43,
 43,
 44,
 44,
 46,
 46,
 49,
 49,
 50,
 50,
 53,
 53,
 54,
 54,
 55,
 55,
 60,
 60,
 61,
 61,
 65,
 65,
 67,
 67,
 68,
 68,
 69,
 69,
 71,
 71,
 72,
 72,
 73,
 73,
 75,
 75,
 80,
 80,
 82,
 82,
 90,
 90,
 91,
 91,
 94,
 94,
 96,
 96,
 112,
 112,
 113,
 113,
 114,
 114,
 115,
 115,
 117,
 117,
 119,
 119,
 123,
 123,
 140,
 140,
 141,
 141,
 143,
 143,
 145,
 145,
 153,
 153,
 158,
 158,
 168,
 168,
 174,
 174,
 178,
 178,
 180,
 180,
 182,
 182,
 184,
 184,
 188,
 188,
 194,
 194,
 198,
 198,
 202,
 202,
 205,
 205,
 207,
 207,
 209,
 209,
 210,
 210,
 211,
 211,
 215,
 215,
 216,
 216,
 218,
 218,
 219,
 219,
 220,
 220,
 223,
 223,
 228,
 228,
 236,
 236,
 237,
 237,
 241,
 241,
 242,
 242,
 243,
 243,
 244,
 244,
 245,
 245,
 248,
 248,
 261,
 261,
 266,
 266,
 269,
 269,
 279,
 279,
 281,
 281,
 284,
 284,
 286,
 286,
 291,
 291,
 296,
 296,
 300,
 300,
 303,
 303,
 309,
 309,
 316,
 316,
 322,
 322,
 325,
 325,
 330,
 330,
 332,
 332,
 340,
 340,
 341,
 341,
 352,
 352,
 356,
 356,
 359,
 359,
 360,
 360,
 362,
 362,
 368,
 368,
 372,
 372,
 373,
 373,
 376,
 376,
 378,
 378,
 379,
 379,
 381,
 381,
 391,
 391,
 392,
 392,
 395,
 395,
 397,
 397,
 401,
 401,
 408,
 408,
 409,
 409,
 411,
 411,
 412,
 412,
 417,
 417,
 425,
 425,
 429,
 429,
 432,
 432,
 436,
 436,
 437,
 437,
 444,
 444,
 450,
 450,
 451,
 451,
 458,
 458,
 459,
 459,
 463,
 463,
 465,
 465,
 479,
 479,
 480,
 480,
 482,
 482,
 483,
 483,
 484,
 484,
 485,
 485,
 486,
 486,
 488,
 488,
 489,
 489,
 491,
 491,
 493,
 493,
 495,
 495,
 497,
 497,
 498,
 498,
 500,
 500,
 505,
 505,
 507,
 507,
 511,
 511,
 517,
 517,
 520,
 520,
 522,
 522,
 524,
 524,
 525,
 525,
 527,
 527,
 532,
 532,
 537,
 537,
 544,
 544,
 546,
 546,
 556,
 556,
 559,
 559,
 560,
 560,
 561,
 561,
 562,
 562,
 567,
 567,
 568,
 568,
 570,
 570,
 571,
 571,
 575,
 575,
 579,
 579,
 580,
 580,
 581,
 581,
 583,
 583,
 585,
 585,
 592,
 592,
 596,
 596,
 597,
 597,
 598,
 598,
 599,
 599,
 603,
 603,
 604,
 604,
 607,
 607,
 608,
 608,
 614,
 614,
 616,
 616,
 619,
 619,
 620,
 620,
 621,
 621,
 626,
 626,
 629,
 629,
 630,
 630,
 633,
 633,
 637,
 637,
 639,
 639,
 640,
 640,
 641,
 641,
 656,
 656,
 658,
 658,
 661,
 661,
 662,
 662,
 664,
 664,
 666,
 666,
 679,
 679,
 685,
 685,
 687,
 687,
 693,
 693,
 696,
 696,
 702,
 702,
 712,
 712,
 715,
 715,
 717,
 717,
 721,
 721,
 724,
 724,
 730,
 730,
 731,
 731,
 732,
 732,
 736,
 736,
 739,
 739,
 745,
 745,
 747,
 747,
 748,
 748,
 750,
 750,
 751,
 751,
 752,
 752,
 756,
 756,
 757,
 757,
 761,
 761,
 763,
 763,
 769,
 769,
 771,
 771,
 774,
 774,
 787,
 787,
 792,
 792,
 793,
 793,
 801,
 801,
 803,
 803,
 806,
 806,
 808,
 808,
 809,
 809,
 812,
 812,
 816,
 816,
 823,
 823,
 838,
 838,
 845,
 845,
 846,
 846,
 849,
 849,
 853,
 853,
 855,
 855,
 857,
 857,
 860,
 860,
 861,
 861,
 863,
 863,
 865,
 865,
 875,
 875,
 880,
 880,
 889,
 889,
 901,
 901,
 909,
 909,
 911,
 911,
 913,
 913,
 915,
 915,
 919,
 919,
 922,
 922,
 928,
 928,
 931,
 931,
 934,
 934,
 935,
 935,
 936,
 936,
 948,
 948,
 956,
 956,
 969,
 969,
 971,
 971,
 982,
 982,
 990,
 990,
 994,
 994,
 998,
 998,
 1011,
 1011,
 1012,
 1012,
 1015,
 1015,
 1021,
 1021,
 1026,
 1026,
 1028,
 1028,
 1033,
 1033,
 1034,
 1034,
 1044,
 1044,
 1046,
 1046,
 1048,
 1048,
 1052,
 1052,
 1053,
 1053,
 1054,
 1054,
 1067,
 1067,
 1068,
 1068,
 1070,
 1070,
 1071,
 1071,
 1072,
 1072,
 1076,
 1076,
 1078,
 1078,
 1084,
 1084,
 1101,
 1101,
 1105,
 1105,
 1108,
 1108,
 1109,
 1109,
 1122,
 1122,
 1125,
 1125,
 1129,
 1129,
 1130,
 1130,
 1134,
 1134,
 1136,
 1136,
 1145,
 1145,
 1146,
 1146,
 1150,
 1150,
 1152,
 1152,
 1158,
 1158,
 1159,
 1159,
 1160,
 1160,
 1161,
 1161,
 1162,
 1162,
 1163,
 1163,
 1164,
 1164,
 1166,
 1166,
 1168,
 1168,
 1170,
 1170,
 1175,
 1175,
 1185,
 1185,
 1187,
 1187,
 1188,
 1188,
 1193,
 1193,
 1202,
 1202,
 1203,
 1203,
 1204,
 1204,
 1205,
 1205,
 1207,
 1207,
 1211,
 1211,
 1212,
 1212,
 1215,
 1215,
 1217,
 1217,
 1219,
 1219,
 1220,
 1220,
 1221,
 1221,
 1225,
 1225,
 1226,
 1226,
 1229,
 1229,
 1233,
 1233,
 1238,
 1238,
 1240,
 1240,
 1242,
 1242,
 1243,
 1243,
 1248,
 1248,
 1250,
 1250,
 1251,
 1251,
 1253,
 1253,
 1267,
 1267,
 1269,
 1269,
 1270,
 1270,
 1271,
 1271,
 1274,
 1274,
 1276,
 1276,
 1283,
 1283,
 1285,
 1285,
 1288,
 1288,
 1294,
 1294,
 1302,
 1302,
 1303,
 1303,
 1310,
 1310,
 1320,
 1320,
 1324,
 1324,
 1325,
 1325,
 1326,
 1326,
 1334,
 1334,
 1336,
 1336,
 1337,
 1337,
 1345,
 1345,
 1347,
 1347,
 1351,
 1351,
 1354,
 1354,
 1363,
 1363,
 1366,
 1366,
 1367,
 1367,
 1391,
 1391,
 1395,
 1395,
 1400,
 1400,
 1403,
 1403,
 1404,
 1404,
 1406,
 1406,
 1407,
 1407,
 1409,
 1409,
 1410,
 1410,
 1411,
 1411,
 1412,
 1412,
 1414,
 1414,
 1416,
 1416,
 1423,
 1423,
 1426,
 1426,
 1430,
 1430,
 1431,
 1431,
 1432,
 1432,
 1433,
 1433,
 1435,
 1435,
 1439,
 1439,
 1444,
 1444,
 1448,
 1448,
 1450,
 1450,
 1451,
 1451,
 1452,
 1452,
 1453,
 1453,
 1454,
 1454,
 1456,
 1456,
 1458,
 1458,
 1460,
 1460,
 1461,
 1461,
 1464,
 1464,
 1466,
 1466,
 1468,
 1468,
 1469,
 1469,
 1470,
 1470,
 1472,
 1472,
 1475,
 1475,
 1483,
 1483,
 1484,
 1484,
 1485,
 1485,
 1486,
 1486,
 1489,
 1489,
 1491,
 1491,
 1495,
 1495,
 1496,
 1496,
 1500,
 1500,
 1501,
 1501,
 1504,
 1504,
 1505,
 1505,
 1516,
 1516,
 1520,
 1520,
 1521,
 1521,
 1525,
 1525,
 1528,
 1528,
 1538,
 1538,
 1546,
 1546,
 1548,
 1548,
 1551,
 1551,
 1553,
 1553,
 1554,
 1554,
 1558,
 1558,
 1561,
 1561,
 1563,
 1563,
 1564,
 1564,
 1565,
 1565,
 1574,
 1574,
 1577,
 1577,
 1581,
 1581,
 1582,
 1582,
 1593,
 1593,
 1595,
 1595,
 1599,
 1599,
 1604,
 1604,
 1606,
 1606,
 1612,
 1612,
 1615,
 1615,
 1619,
 1619,
 1624,
 1624,
 1625,
 1625,
 1638,
 1638,
 1640,
 1640,
 1641,
 1641,
 1649,
 1649,
 1654,
 1654,
 1655,
 1655,
 1656,
 1656,
 1657,
 1657,
 1658,
 1658,
 1661,
 1661,
 1662,
 1662,
 1664,
 1664,
 1672,
 1672,
 1674,
 1674,
 1675,
 1675,
 1677,
 1677,
 1678,
 1678,
 1690,
 1690,
 1691,
 1691,
 1696,
 1696,
 1697,
 1697,
 1703,
 1703,
 1704,
 1704,
 1705,
 1705,
 1708,
 1708,
 1709,
 1709,
 1715,
 1715,
 1718,
 1718,
 1722,
 1722,
 1723,
 1723,
 1728,
 1728,
 ...]

In [15]:
top10_eG = igraph.Graph.TupleList(top10_edges.itertuples(index=False), directed=False, weights=False)
top10_eG.summary()

'IGRAPH UN-- 63954 633948 -- \n+ attr: name (v)'

In [16]:
top10_eG_degrees = top10_eG.indegree()
print(max(top10_eG_degrees))
top10_eG_max_degree_index = top10_eG_degrees.index(max(top10_eG_degrees))
top10_eG.vs[top10_eG_max_degree_index]

14630

igraph.Vertex(<igraph.Graph object at 0x000001B6CD189E58>, 268, {'name': 307})

In [10]:
user_locids = totalCheckins[['user', 'locid']]
user_locids['locid'] = user_locids['locid'].apply(lambda x: 'L' + str(x))
user_locids

C:\Users\Ayan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           user     locid
0             0    L22847
1             0   L420315
2             0   L316637
3             0    L16516
4             0  L5535878
...         ...       ...
6442887  196578   L906885
6442888  196578   L965121
6442889  196578  L1174322
6442890  196585   L471724
6442891  196585  L4555073

[6442892 rows x 2 columns]

In [11]:
user_loc_G = igraph.Graph.TupleList(user_locids.itertuples(index=False), directed=False, weights=False)
user_loc_G.summary()

'IGRAPH UN-- 1388061 6442892 -- \n+ attr: name (v)'

## Map APIs

* important for querying specific information about locations people visit
* data visualization is not an essential part of the project, but is worth exploring if data visualization is easy

### Notes About OSM
* [OpenStreetMap Article](https://towardsdatascience.com/loading-data-from-openstreetmap-with-python-and-the-overpass-api-513882a27fd0)

* We will be using the Overpass API to get information about our locations
  * [Overpass Querying Language](https://wiki.openstreetmap.org/wiki/Overpass_API/Overpass_QL)
  * [Site for Testing Overpass Queries](http://overpass-turbo.eu/)


* **node**: a specific lat, long point
* **relation**: a region (typically for buildings that require multiple polygons
  * probably will be using this for our project (need a way to query if a user's location is in a certain relation)
  * includes tags which can helps us

In [0]:
# example of an overpass query that collects all the biergartens in germany
# there are a lot of biergartens in Germany lol; so the query will take long to run 
# notice that it includes every OpenStreetMap datatype (node, way, rel); maybe there are biergarten streets? (way)

import requests
import json

overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];
area["ISO3166-1"="DE"][admin_level=2];
(node["amenity"="biergarten"](area);
 way["amenity"="biergarten"](area);
 rel["amenity"="biergarten"](area);
);
out center;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
data = response.json()

In [0]:
# notice how descriptive the API is for relations

data['elements'][5:10]

[{'id': 27318009,
  'lat': 52.4200885,
  'lon': 13.1763456,
  'tags': {'addr:city': 'Berlin',
   'addr:housenumber': '260',
   'addr:postcode': '14109',
   'addr:street': 'Kronprinzessinnenweg',
   'amenity': 'biergarten',
   'contact:email': 'info@loretta-berlin.de',
   'contact:fax': '+49 30 80105334',
   'contact:phone': '+49 30 80105333',
   'contact:website': 'https://www.loretta-wannsee.de/biergarten/',
   'name': 'Loretta',
   'opening_hours': '12:00+',
   'wheelchair': 'limited'},
  'type': 'node'},
 {'id': 27352197,
  'lat': 50.3638373,
  'lon': 7.5769021,
  'tags': {'amenity': 'biergarten', 'wheelchair': 'limited'},
  'type': 'node'},
 {'id': 27787909,
  'lat': 52.9822191,
  'lon': 8.845254,
  'tags': {'amenity': 'biergarten',
   'name': 'Schwarzbiergarten',
   'wheelchair': 'limited'},
  'type': 'node'},
 {'id': 29812167,
  'lat': 49.4814353,
  'lon': 10.993033,
  'tags': {'amenity': 'biergarten',
   'toilets:wheelchair': 'no',
   'wheelchair': 'limited'},
  'type': 'node'},
 {'id': 32628620,
  'lat': 47.9927509,
  'lon': 7.8558873,
  'tags': {'addr:city': 'Freiburg im Breisgau',
   'addr:housenumber': '3',
   'addr:postcode': '79098',
   'addr:street': 'Schlossbergring',
   'amenity': 'biergarten',
   'contact:email': 'info@kastaniengarten-freiburg.de',
   'contact:fax': '+49 761 289602',
   'contact:phone': '+49 761 32728',
   'contact:website': 'http://www.kastaniengarten-freiburg.de/',
   'name': 'Kastaniengarten',
   'opening_hours': 'Mo-Su 11:00-24:00',
   'phone': '+49 761 32728',
   'toilets:wheelchair': 'no',
   'website': 'http://www.greiffenegg.de/kastaniengarten.html',
   'wheelchair': 'limited'},
  'type': 'node'}]

# Sources

A collection of sources to include in the final paper:

* [OpenStreetMap Article](https://towardsdatascience.com/loading-data-from-openstreetmap-with-python-and-the-overpass-api-513882a27fd0)